{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
Lotes
{% endblock %}
{% block seccion-contenido%}
<div class="col-xs-12 col-md-12 table-responsive">
    <table id="content" class="table ">
        <thead><th>Lote</th><th>Fecha</th><th>Estado</th></thead>
        <tbody>
        {% for lote in lotes %}
            <tr><td><a href="/administrar_pedidos/{{ lote.id }}/">{{ lote.codigo }}</a></td><td>{{ lote.fecha }}</td><td>{{ lote.estado }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

</script>
{% endblock %}