{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
Lote
{% endblock %}
{% block seccion-contenido%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ lote.codigo }}</h4>
    </div>
    <div class="panel-body">
        <div class="col-md-4">
            <span><a>Productos de este lote</a></span>
        </div>
        <div class="col-md-4">
            <span>Fecha: {{ lote.fecha }}</span>
        </div>
        <div class="col-md-4">
            <span>Estado: <b id="Estado">{{ lote.estado }}</b></span>
        </div>
        <hr/>
        <div class="col-md-8">
            <span>Ubicación: {{ lote.ruta }}</span>
        </div>
        <div class="col-md-4">
            {% if lote.estado != 'Listo'%}<span id="botonDeCambio">Cambiar estado a:<br/><a onclick="CambiarEstadoLote('{{ lote.id }}')" class="btn btn-info">{% if lote.estado == 'Edicion'%}Editado{% elif lote.estado == 'Editado'%}Impresión{% elif lote.estado == 'Impresion'%}Impreso{% elif lote.estado == 'Impreso'%}Listo{% endif%}</a></span>{% endif %}
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-12 table-responsive">
    <table id="content" class="table ">
        <thead><th>Pedidos</th><th>Cliente</th><th>Fecha</th><th>Estado</th></thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr><td><a href="/ver_pedido/{{ pedido.id }}/">{{ pedido.num_pedido }}</a></td><td>{{ pedido.cliente.nombres }} {{ pedido.cliente.apellidos }}</td><td>{{ pedido.fecha }}</td><td>{{ pedido.estado }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

function CambiarEstadoLote(iden){

    if(confirm('Una vez cambiado el estado no habra vuelta atras.\nAdemas, los estados de todos los pedidos pertenecientes al lote tambien cambiaran.\n\n¿Desea continuar?')){

        $.ajax({

            url:'/cambiar_estado_lotes_desde_administrar_pedidos/',
            data:{'lote':iden},
            type:'GET'

        }).done(function(data){

            $('#Estado').html(data.estado);

            if(data.boton != 'Done'){

                $('#botonDeCambio').html('Cambiar estado a:<br/><a onclick="CambiarEstadoLote('+iden+')" class="btn btn-info">'+data.boton+'</a>');

            }else{

                $('#botonDeCambio').html('');

            }

            location.reload();
        });

    }

}

</script>
{% endblock %}