{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
Lotes en edición
{% endblock %}
{% block seccion-contenido%}
<div class="col-xs-12 col-md-12 table-responsive">
    <table class="table table-bordered">
        <thead><th>Lotes</th><th>Listos</th><th>Pedidos</th><th>Estado</th></thead>
        <tbody id="body-edicion">
        {% for editado in edicion %}
        <tr>
            <td><a href="/edicion_pedido/{{ editado.3 }}/">{{ editado.0 }}</a></td><td>{{ editado.1 }}</td><td>{{ editado.2 }}</td><td id="estadoPedido-{{ editado.3 }}">Pendiente</td>
        </tr>
        {% endfor %}
        {% for listo in listos %}
        <tr>
            <td><a href="/edicion_pedido/{{ listo.3 }}/">{{ listo.0 }}</a></td><td>{{ listo.1 }}</td><td>{{ listo.2 }}</td><td id="estadoPedido-{{ listo.3 }}">Listo</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

window.onload = function(){
    var lotes = [], flag = false;

    {% for producto in productos %}

        for(var i = 0; i<lotes.length; i++){

            if('{{ producto.pedido.lote.codigo }}' == lotes[i]){
                flag = true ;
            }

        }

        if(flag == false){

            lotes.push('{{ producto.pedido.lote.codigo }}');

        }else{

            flag = false;

        }

    {% endfor %}

    var pedido = [lotes.length][3];

    {% for producto in productos %}

        for(var i = 0; i< lotes.length; i++){

            var totales = 0, listos = 0;

            if('{{ producto.pedido.lote.codigo }}' == lotes[i]){

                for(var k =0; k< pedido.length;k++){

                    if('{{ producto. }}'){

                    }

                }

            }

        }

        $('#body-edicion').html('<tr><td><a href="/edicion_eventos/">'+lotes[i]+'</a></td><td>'+ listos +'</td><td>'+totales+'</td></tr>');

    {% endfor %}
}

</script>
{% endblock %}