{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
Pedidos Pendienes
{% endblock %}
{% block seccion-contenido%}
<div class="col-xs-12 col-md-12 table-responsive">
    <table id="content" class="table ">
        <thead>
            <th>Codigo</th>
            <th>Evento</th>
            <th>Cliente</th>
            <th>Telefono</th>
            <th>Cedula</th>
            <th>Fecha de entrega</th>
            <th>Forma de pago</th>
            <th>Estado</th>
        </thead>
        <tbody id="body-pedidos">
        {% for pedido in pedidos %}
        <tr>
            <td><a href="/ver_pedido/{{ pedido.0.id }}/">{{ pedido.0.num_pedido }}</a></td>
            <td>{{ pedido.0.evento.nombre }}</td>
            <td>{{ pedido.0.cliente.nombres}} {{ pedido.0.cliente.apellidos}}</td>
            <td>{{ pedido.0.cliente.telefono }}</td>
            <td>{{pedido.0.cliente.cedula}}</td>
            <td>{{ pedido.0.fecha_entrega }}</td>
            <td>{{ pedido.1 }}</td>
            <td>{{ pedido.0.estado }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

</script>
{% endblock %}