{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
Lista envios
{% endblock %}
{% block tabla %}
<table class="table table-striped  table-hover" id="content">
    <thead>
        <th>Cliente</th>
        <th>Evento</th>
        <th>Num Pedido</th>
        <th>Dirección</th>
        <th>Tracking</th>
        <th>Fecha envío</th>
        <th>Acciones</th>
    </thead>
    {% for pedido in pedidos %}
        <tr class="pedido">
            <td>{{ pedido.cliente }}</td>
            <td>{{ pedido.evento.nombre }}</td>
            <td class="num_pedido">{{ pedido.num_pedido }}</td>
            <td>{{ pedido.direccion_entrega }}</td>
            {% if pedido.pedido_enviado %}
                <td>{{ pedido.pedido_enviado.proveedor }} - {{ pedido.pedido_enviado.tracking }}</td>
                <td>{{ pedido.pedido_enviado.fecha_envio }}</td>
            {% else %}
                <td></td>
                <td><button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success btn-xs agregar" >Agregar envio</button></td>
            {% endif %}
            <td><a onclick="moverEstado('{{ pedido.pedido_enviado.tracking }}', '{{ pedido.pedido_enviado.proveedor }}', '{{ pedido.id }}')" data-toggle="modal" data-target="#mail"  class="btn btn-default btn-xs">Enviar correo a clientes</a></td>
        </tr>
    {% endfor %}
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModalForm" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form id="form" role="form" action="." method="post">
        {% csrf_token %}
        <input type="hidden" id="num_pedido" name="num_pedido" value="">
        <div class="form-group">
            <label class="control-label  " for="id_tracking">Tracking</label>
            <div class=" ">
                <input class=" form-control" id="id_tracking" maxlength="50" name="tracking" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label  " for="id_proveedor">Proveedor</label>
            <div class=" ">
                <input class=" form-control" id="id_proveedor" maxlength="30" name="proveedor" type="text">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="mail" tabindex="-1" role="dialog" aria-labelledbby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Correo</h4>
            </div>
            <div class="modal-body text-center" id="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" placeholder="Cuerpo del correo..." name="mail" id="id_mail" cols="10" rows="7"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center" id="modal-footer">
                <span class="pull-left"><i class="pull-right" style="color: #aaaaaa">NOTA: Este mail será enviado al cliente asociado</br>a este envio</i></span>
                <a onclick="enviarMailenvios()" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Enviar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$('.agregar').click(function(){
    $('#num_pedido').val($(this).parents('.pedido').children('.num_pedido').html());
})

function moverEstado(track, empresa ,pedido){

    $("#id_mail").val("Buenas Tardes\nEl presente correo es para notificarte que su pedido ya ha sido enviado a traves de la empresa " + empresa + " y su # de guia es: " +track+".\n\nFavor tener en cuenta que a partir de este momento la responsabilidad de su paquete cae en manos de esta empresa. \n\nAnte cualquier duda, favor comunicarse con logistica@fotomov.com.\n\n Gracias por preferirnos");
    $("#modal-body").attr('name', pedido);

}

function enviarMailenvios(){

    var mail = $("#id_mail").val();
    var iden = $("#modal-body").attr('name');

    $.ajax({

        url: '/enviar_mail_de_tracking_de_envio/',
        type: 'GET',
        data: {'pedido': iden, 'mensaje': mail}

    }).done(function(data){

        $("#id_mail").val('');
        $("#modal-body").attr('name', '');

    });


}
</script>
{% endblock %}