{% extends "admin.html" %}
{% load bootstrap %}
{% block js %}

<script type="text/javascript">

  function aucomemail(){

      var dominios, dom;

      $(function(){

        dominios = [
            document.getElementById("id_email").value+"@gmail.com",
            document.getElementById("id_email").value+"@hotmail.com",
            document.getElementById("id_email").value+"@yahoo.com",
            document.getElementById("id_email").value+"@turpialdev.com"
        ];

        $("#id_email").autocomplete({
            source: dominios
        });

          if(document.getElementById("id_email").value.indexOf("@") != -1){
              if(document.getElementById("id_email").value.indexOf("@")+1==document.getElementById("id_email").value.length){
                  dom = [
                            document.getElementById("id_email").value+"gmail.com",
                            document.getElementById("id_email").value+"hotmail.com",
                            document.getElementById("id_email").value+"yahoo.com",
                            document.getElementById("id_email").value+"turpialdev.com"
                        ];
              }
              $('#id_email').autocomplete({
                 source: dom
              });
          }
      });
  }

   $("#id_email").on('keyup',aucomemail);

    function deleteAlert(iden){

        alert("Al eliminar este Privilegio se eliminaran automaticamente todos los Usuarios asociados a este Privilegio.");
        if(confirm('Seguro que desea eliminar este Privilegio?'))
            window.location.assign("/eliminar_privilegio/"+iden);

    }
</script>

{% endblock %}
{% block titulo %}
        Registrar nuevo usuario
{% endblock %}
{% block seccion-contenido %}
	<form id='form' method='POST' action=''>{% csrf_token %}
	  <table><tr><td>{{formulario.nombre|bootstrap}}<hr /></td></tr></table>
	  <p><input type='submit' value='Registrar' class="btn btn-default btn-primary" /></p>
	</form>

        <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="content">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for privilegio in privilegios %}
                                        <tr class="gradeU">
                                            <td>{{ privilegio.nombre }}</td>
                                            <td><a class="btn btn-default" href="/modificar_staff/{{ privilegio.id }}">Editar</a>  <button type="button" class="btn btn-default btn-danger" onclick="deleteAlert({{privilegio.id}})">Eliminar</button></td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
{% endblock %}
