{% extends 'tabla.html' %}
{% block tabla %}
<form method="POST" action="" enctype="multipart/form-data" >{% csrf_token %}
<table class="table table-striped table-bordered table-hover" id="content">
    <thead>
        <th>Seleccionar</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Costo</th>
    </thead>
    {% for producto in productos %}
        <tr>
            <td><input type="checkbox" value="{{ producto.0.id }}" name="seleccionados" {% if producto.1 %} checked {% endif %}> </td>
            <td>{{ producto.0.nombre }}</td>
            <td><input type="text" onkeypress="return numero(event)" value="{{ producto.2 }}" name="{{ producto.0.id }}precio"></td>
            <td><input type="text" onkeypress="return numero(event)" value="{{ producto.3 }}" name="{{ producto.0.id }}costo"></td>
        </tr>
    {% endfor %}
</table>
<input type="submit" class="btn btn-primary" value="guardar">
</form>
{% endblock %}
{% block js %}
        <script>
          function numero(e) {
          var codigo;
          codigo = (document.all) ? e.keyCode : e.which;
          if (codigo > 31 && (codigo < 48 || codigo > 57) && codigo != 46 ) {
          return false;
          }
          return true;
        }
    </script>
{% endblock %}