{% extends 'admin.html' %}
{% block titulo %}
Agregar Staff
{% endblock %}
{% block css %}
<link href="{{ STATIC_URL }}/css/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
{% endblock %}
{% block seccion-contenido %}
    <form method="POST" action="" id="formStaff" enctype="multipart/form-data" >{% csrf_token %}
    {% for funcion in funciones %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{ funcion.0.dia }} {{ funcion.0.nombre }}</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group col-sm-12">
                        {% for staff in funcion.1 %}
                            <div class="col-sm-2">
                                {{ staff.tipo.nombre }} <input type="text" class="form-control spinner {{ funcion.0.id }}" name="{{ funcion.0.id }}-{{ staff.tipo.id }}" onkeypress="return numero(event)" value="{{ staff.cantidad }}"></br>
                                <select name="bloque-{{ funcion.0.id }}-{{ staff.tipo.id }}">
                                    <option value="">----------</option>
                                    {% for bloque in bloques %}
                                    <option value="{{ bloque.id }}">{{ bloque.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        {% endfor %}
                    </div>
                                <div class="col-sm-3">
                    <input type="button" id = '{{ funcion.0.id }}' value="Listo" onclick='tog(this.value, this.id)' class="btn btn-default">
                </div>
                </div>

            </div>


    {% endfor %}
    <div class="col-sm-3"><input type="button" id="submitform" class="btn btn-primary" value="guardar" onclick="enviar()" disabled="true"></div>
    </form>
{% endblock %}
{% block js %}
<script>

    $( ".spinner" ).spinner({ min: 0 });

    function numero(e) {

        var codigo;
        codigo = (document.all) ? e.keyCode : e.which;
        if (codigo > 31 && (codigo < 48 || codigo > 57) /*&& codigo != 46 */) {
            return false;
        }
        return true;

    }

    function tog(val,iden){

        var i,flag;

        if(val == 'Listo'){

            i = "{{ funciones.0.0.id }}";
            flag = true;
            $( "."+iden ).spinner( "disable" );
            document.getElementById(iden).setAttribute('value','Editar');

            while(document.getElementById(i.toString()) != null){

                if(document.getElementById(i.toString()).getAttribute('value') == 'Listo'){

                    flag = false;

                }

                i++;

            }

            if(flag == true){

                document.getElementById("submitform").disabled = false;

            }

        }else{

            $( "."+iden ).spinner( "enable" );
            document.getElementById(iden).setAttribute('value','Listo');
            document.getElementById("submitform").disabled = true;

        }

    }

    function enviar(){

        var i,flag;
        i = "{{ funciones.0.0.id }}";
        flag = true;

        console.log(flag);

        while(document.getElementById(i.toString()) != null){

            if(document.getElementById(i.toString()).getAttribute('value') == 'Listo'){

                flag = false;

            }

            i++;

        }

        if(flag == true){

            i= "{{ funciones.0.0.id }}";

            while(document.getElementById(i.toString()) != null){

                $( "."+i ).spinner( "enable" );
                i++;

            }

            document.forms['formStaff'].submit();

        }else{

            alert("Todos los campos deben estar listos -.-\"");

        }
    }

</script>
{% endblock %}