{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
Lista de funciones
{% endblock %}
{% block tabla %}
<table class="table table-striped table-bordered table-hover" id="content">
    <thead>
        <th>funciones</th>
        <th>Acciones</th>
    </thead>
    {% for funcion in funciones %}
        <tr>
            <td>{{ funcion.funcion.dia }}</td>
            <td><a class='btn btn-warning' id='{{ funcion.funcion.id }}' name='0' onclick=asistir(this.id,this.name) ><span class="glyphicon glyphicon-unchecked"></span> Asistir</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
{% block js %}
<script type="text/javascript">

function asistir(iden, flag){

    var User = "{{ user.id }}", funcion = iden, accion;

    if(flag == '0'){

        accion = "r";
        $.ajax({

            data:{userid: User, funcionid: funcion, accion: accion},
            url:'/regis_asistencia/',
            type:'get',
            error:function(a,b,c){

                alert(b+"\n"+c+"\n\nNo se pudo registrar su asistencia. Por favor, intente de nuevo en unos minutos.");
                $('#alertas-ajax').addClass('alert');
                $('#alertas-ajax').addClass('alert-danger');
                document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
                console.log(c);

            }

        }).done(function(data){

            document.getElementById(iden).setAttribute('class','btn btn-success');
            document.getElementById(iden).setAttribute('name','1');
            document.getElementById(iden).innerHTML = "<span class='glyphicon glyphicon-check'></span> Asistir";

        });

    }else{

        accion = "d";
        $.ajax({

            data:{userid: User, funcionid: funcion, accion: accion},
            url:'/regis_asistencia/',
            type:'get',
            error:function(a,b,c){

                alert(b+"\n"+c+"\n\nNo se pudo eliminar su asistencia. Por favor, intente de nuevo en unos minutos.");
                $('#alertas-ajax').addClass('alert');
                $('#alertas-ajax').addClass('alert-danger');
                document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
                console.log(c);

            }

        }).done(function(data){

            document.getElementById(iden).setAttribute('class','btn btn-warning');
            document.getElementById(iden).setAttribute('name','0');
            document.getElementById(iden).innerHTML = "<span class='glyphicon glyphicon-unchecked'></span> Asistir";

        });

    }
}

</script>
{% endblock %}