{% extends 'tabla.html' %}
{% load bootstrap %}
{% block css %}
<link href="{{ STATIC_URL }}/css/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
{% endblock %}
{% block titulo %}
Editar evento: {{ evento.nombre }}
{% endblock %}
{% block seccion-contenido %}
<input id='toto' type="hidden" value=''>
<form method='POST' id='nuevoEvento' action='' enctype='multipart/form-data'>{% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Datos del evento</h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-3">
                {{ formulario.nombre | bootstrap }}
            </div>
            {% if evento.cliente == None %}
            <div class="col-sm-3">
                {{ formulario.macrocliente | bootstrap }}
            </div>
            <div class="col-sm-3">
                <label>Encargado</label>
                <select id="id_encargado" class="form-control" name="encargado">
                    <option>---------</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label>Sede</label>
                <select id="id_sede" class="form-control" name="sede">
                    <option>---------</option>
                </select>
            </div>
            {% else %}
            <div id="es_cliente" class="col-sm-9">
                <div class="col-sm-4">
                    <label>Cliente</label>
                    <input id="id_cliente" class="form-control auc-usu" value="{{ evento.cliente.nombres }} {{ evento.cliente.apellidos }}-{{ evento.cliente.cedula }}" name="cliente">
                </div>
                <div class="col-sm-4">
                    {{ formulario.marcas | bootstrap }}
                </div>
                <div class="col-sm-4">
                    <label>Submarca</label>
                    <select id="id_submarca" class="form-control" name="submarca">
                        <option>---------</option>
                    </select>
                </div>

            </div>
            {% endif %}
            <div class="col-sm-12">
                {{ formulario.descripcion | bootstrap }}
            </div>
            <div class="col-sm-2">
                {{ formulario.porcentaje_institucion | bootstrap }}
            </div>
            <div class="col-sm-3">
                {{ formulario.tipo | bootstrap }}
            </div>
            <div class="col-sm-3">
                {{ formulario.fecha_entrega | bootstrap }}
            </div>
        </div>
    </div>

    <h3>Funciones</h3>
    <a onclick="agrFuncion(0)" class="btn btn-default pull-right" data-toggle="modal" data-target="#eFuncion"><span class="fa fa-plus fa-fw"></span> Agregar función</a>
    <table class="table table-striped table-responsive table-hover" id="content">
        <thead>
            <th>Función</th>
            <th>Lugar</th>
            <th>Horas</th>
            <th>Día</th>
            <th>Editar/Borrar</th>
        </thead>
        <tbody id="tbody">
        {% for funcion in funciones %}
            <tr id="tr-{{funcion.id}}">
                <td id='fun-{{funcion.id}}'>{{ funcion.nombre }}</td>
                <td><a id='loc-{{funcion.id}}' onclick="editarDireccion('loc-{{funcion.id}}')" class="editable form-control btn btn-xs btn-default" data-toggle="modal" data-target="#addressModal">{{ funcion.direccion.nombre }}</a></td>
                <td id="horas-{{funcion.id}}">{{ funcion.horas }}</td>
                <td id="dia-{{funcion.id}}">{{ funcion.dia }}</td>
                <td><a class="btn btn-xs btn-success" onclick="editarFuncion('{{ funcion.id }}','{{ funcion.nombre }}','{{ funcion.direccion.nombre }}','{{ funcion.horas }}','{{ funcion.dia }}')" data-toggle="modal" data-target="#eFuncion" ><span class="fa fa-pencil fa-fw"></span></a>  <a class="btn btn-xs btn-danger" onclick="eliFuncion('{{funcion.id}}','3')" ><span class="fa fa-minus fa-fw"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Actualizar" class="btn btn-primary form-group">
</form>

<div class="modal fade" id="eFuncion" tabindex="-1" role="dialog" aria-labelledbby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true"> <!-- Revisar usabilidady ARIA -->
     <div class="modal-dialog modal-direccion">
       <div class="modal-content modal-address">
         <div class="modal-header">
           <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h2 class="modal-title">Seleccionar Direcciones</h2>
         </div>
		 <div class="modal-body">
			 {% include "staff/incluir_libreta.html" %}
		 </div>
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}
{% block js %}
<script type="text/javascript">

window.onload = function(){
    $('#id_fecha_entrega').datepicker({ dateFormat: "dd/mm/yy", minDate: 0 });
    $('#id_porcentaje_institucion').spinner({ min: 0 });
    $('#id_porcentaje_institucion').spinner("value",12);
    if(document.getElementById("id_macrocliente").value<1){
        document.getElementById("id_encargado").innerHTML = "<option>---------</option>";
        document.getElementById("id_encargado").disabled = true;
        document.getElementById("id_sede").innerHTML = "<option>---------</option>";
        document.getElementById("id_sede").disabled = true;
    }else{
        ajax_encargado();
        ajax_sede();
    }

}

    $('#id_macrocliente').on('change',ajax_encargado);
    $('#id_macrocliente').on('change',ajax_sede);

function ajax_encargado(){

    var select_macro = $('#id_macrocliente').val();

    if(select_macro>0){
        $.ajax({

            beforeSend:function(){
                document.getElementById('id_encargado').innerHTML = '<option>Cargando...</option>';
            },
            data:{'id':select_macro},
            url:'/encargado_ajax/',
            type:'get',
            error:function(a,error,otro){
                document.getElementById("id_encargado").innerHTML = "<option>"+otro+"</option>";
            }

        }).done(function(data){

            var flag=false;
            document.getElementById("id_encargado").disabled = false;
            document.getElementById("id_encargado").innerHTML = "<option>---------</option>";
            for(var i=0;i<data.length;i++){

                if(data[i].pk == parseInt('{{evento.encargado.id}}')){

                    flag = true;

                }

                if(flag == true){

                    document.getElementById('id_encargado').innerHTML = document.getElementById('id_encargado').innerHTML+'<option selected value='+data[i].pk+'>'+data[i].fields.nombre+'</option>';

                }else{

                    document.getElementById('id_encargado').innerHTML = document.getElementById('id_encargado').innerHTML+'<option value='+data[i].pk+'>'+data[i].fields.nombre+'</option>';

                }

                flag = false;

            }

        });
    }else{

        document.getElementById("id_encargado").innerHTML = "<option>---------</option>";
        document.getElementById("id_encargado").disabled = true;

    }

}

function ajax_sede(){

    var select_macro = $('#id_macrocliente').val();

    if(select_macro>0){
        $.ajax({

            beforeSend:function(){
                document.getElementById('id_sede').innerHTML = '<option>Cargando...</option>';
            },
            data:{'id':select_macro},
            url:'/sede_ajax/',
            type:'get',
            error:function(a,error,otro){
                document.getElementById("id_sede").innerHTML = "<option>"+otro+"</option>";
            }

        }).done(function(data){

            var flag = false;
            document.getElementById("id_sede").disabled = false;
            document.getElementById("id_sede").innerHTML = "<option>---------</option>";
            for(var i=0;i<data.length;i++){

                if(data[i].pk == parseInt('{{evento.sede.id}}')){

                    flag = true;

                }

                if(flag == true){

                    document.getElementById('id_sede').innerHTML = document.getElementById('id_sede').innerHTML+'<option selected value='+data[i].pk+'>'+data[i].fields.nombre+'</option>';

                }else{

                    document.getElementById('id_sede').innerHTML = document.getElementById('id_sede').innerHTML+'<option value='+data[i].pk+'>'+data[i].fields.nombre+'</option>';

                }

                flag = false;
                }

        });
    }else{

        document.getElementById("id_sede").innerHTML = "<option>---------</option>";
        document.getElementById("id_sede").disabled = true;

    }

}

function formatoFecha(fecha){

    var mes = '', final, aux;

    fecha = fecha.split('/')

    if(fecha.length>1){

        if(fecha[0] == '01'){
                mes = 'Enero'
        }else if( fecha[0] == '02'){
            mes = 'Febrero'
        }else if(fecha[0] == '03'){
            mes = 'Marzo'
        }else if(fecha[0] == '04'){
            mes = 'Abril'
        }else if(fecha[0] == '05'){
            mes = 'Mayo'
        }else if(fecha[0] == '06'){
            mes = 'Junio'
        }else if(fecha[0] == '07'){
            mes = 'Julio'
        }else if(fecha[0] == '08'){
            mes = 'Agosto'
        }else if(fecha[0] == '09'){
            mes = 'Septiembre'
        }else if(fecha[0] == '10'){
            mes = 'Octubre'
        }else if(fecha[0] == '11'){
            mes = 'Noviembre'
        }else if(fecha[0] == '12'){
            mes = 'Diciembre'
        }

        final = fecha[1] + ' de ' + mes + ' de ' + fecha[2];

    }else{

        fecha = fecha[0].split('-');

        if(fecha[1] == '01'){
                mes = 'Enero'
        }else if(fecha[1] == '02'){
            mes = 'Febrero'
        }else if(fecha[1] == '03'){
            mes = 'Marzo'
        }else if(fecha[1] == '04'){
            mes = 'Abril'
        }else if(fecha[1] == '05'){
            mes = 'Mayo'
        }else if(fecha[1] == '06'){
            mes = 'Junio'
        }else if(fecha[1] == '07'){
            mes = 'Julio'
        }else if(fecha[1] == '08'){
            mes = 'Agosto'
        }else if(fecha[1] == '09'){
            mes = 'Septiembre'
        }else if(fecha[1] == '10'){
            mes = 'Octubre'
        }else if(fecha[1] == '11'){
            mes = 'Noviembre'
        }else if(fecha[1] == '12'){
            mes = 'Diciembre'
        }

        aux = fecha[2].split(' ');
        final = aux[0] + ' de ' + mes + ' de ' + fecha[0];

    }

    return final;

}

function editarFuncion(iden, nomb, lug, hor, dia){

    $('#modal-body').html('<div class="row"><div class="col-md-6">Función: <input class="form-control input-sm" type="text" id="nombre-editar"></div><div class="col-md-6">Horas: <input id="horas-editar" type="text" class="spinner form-control input-sm"></div><div class="col-md-12">Dia: <span id="dias-editar"></span> <input id="dias-editar-h" type="hidden" value=""> <div class="datepicker" id="datepicker"></div></div><div class="row"><div class="col-md-12"><input onclick="guardarFuncion('+iden+',1)" data-dismiss="modal" class="btn btn-block btn-primary" type="button" value="Actualizar"> </div></div></div>');

    $('.spinner').spinner({ min: 0});
    $('.datepicker').datepicker();
    $("#datepicker").change(function(){

        $("#dias-editar").html(formatoFecha($("#datepicker").datepicker().val()));
        $("#dias-editar-h").attr('value',$("#datepicker").datepicker().val())

    });

    $('#horas-editar').val(hor);
    $('#nombre-editar').val(nomb);
    $('#dias-editar').html(dia);

}

function guardarFuncion(iden,accion){

    var nombre, horas, dia, event = '{{evento.id}}';

    nombre = $('#nombre-editar').val();
    horas = $('#horas-editar').val();
    dia = $("#dias-editar-h").val();

    $.ajax({

        url:'/editar_funcion',
        data:{'accion':accion, 'iden':iden, 'nomb':nombre, 'dia':dia, 'horas':horas, 'evento': event},
        type:'GET'

    }).done(function(data){

        if(data.accion == '1'){

            $("#fun-"+data.id).html(data.nombre);
            $("#dia-"+data.id).html(formatoFecha(data.dia));
            $("#horas-"+data.id).html(data.horas);

        }else if(data.accion =='2'){

            $("#tbody").html($("#tbody").html()+'<tr id="tr-'+data.id+'"><td id="fun-'+data.id+'">'+data.nombre+'</td><td><a class="editable btn btn-xs btn-default form-group" data-toggle="modal" data-target="#addressModal" id="loc-'+data.id+'" onclick="editarDireccion(\'loc-'+data.id+'\')" >'+data.direccion+'</a></td><td id="horas-'+data.id+'">'+data.horas+'</td><td id="dia-'+data.id+'">'+formatoFecha(data.dia)+'</td><td><a class="btn btn-xs btn-success" onclick="editarFuncion(\''+data.id+'\',\''+data.nombre+'\',\'\',\''+data.horas+'\',\''+formatoFecha(data.dia)+'\')" data-toggle="modal" data-target="#eFuncion" ><span class="fa fa-pencil fa-fw"></span></a>  <a class="btn btn-xs btn-danger" onclick="eliFuncion('+data.id+',3)" ><span class="fa fa-minus fa-fw"></span></a></td></tr>');

        }else if(data.accion == '3'){

            document.getElementById("tr-"+iden).parentNode.removeChild(document.getElementById("tr-"+iden));

        }

    });

}

function agrFuncion(iden){

    $('#modal-body').html('<div class="row"><div class="col-md-6">Función: <input class="form-control input-sm" type="text" id="nombre-editar"></div><div class="col-md-6">Horas: <input id="horas-editar" type="text" class="spinner form-control input-sm"></div><div class="col-md-12">Dia: <span id="dias-editar"></span> <input id="dias-editar-h" type="hidden" value=""> <div class="datepicker" id="datepicker"></div></div><div class="row"><div class="col-md-12"><input onclick="guardarFuncion('+iden+',2)" data-dismiss="modal" class="btn btn-block btn-primary" type="button" value="Actualizar"> </div></div></div>');

    $('.spinner').spinner({ min: 0});
    $('.datepicker').datepicker();
    $("#datepicker").change(function(){

        $("#dias-editar").html(formatoFecha($("#datepicker").datepicker().val()));
        $("#dias-editar-h").attr('value',$("#datepicker").datepicker().val())

    });

}

function editarDireccion(iden){

    $('#toto').val(iden);

}

function eliFuncion(iden, accion){

    if(confirm('Seguro que desea eliminar esta función?'))
    guardarFuncion(iden,accion);

}

</script>
{% endblock %}

{% block js-nivel-3 %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/maps.js"></script>
<script type="text/javascript">

$(document).ready(function(){

        setTimeout(function() {
            var latlng = new google.maps.LatLng(34.0883632,18.3788381);
            var myOptions = {
                zoom: 10,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            createMarker(latlng);
        }, 500);

});

function ajax_guardar(){
    var nombre = $('#nombre').val();
    var direccion = $('#formatedAddress').val();
    var descripcion = $('#descripcion').val();
    var latlng = $('#latlng').val();
    var iden;




    $.ajax({
        data:{'nombre': nombre, 'direccion': direccion, 'descripcion': descripcion, 'latlng': latlng},
        url:'/guardar_direccion_ajax/',
        type: 'get',
        error:function(a,b,c){

            $('#alertas-ajax').addClass('alert');
            $('#alertas-ajax').addClass('alert-danger');
            document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
            console.log(c);
        }

    }).done(function(data){
        for(var i=0; i<data.length; i++){
            $('#content').append("<tr><td onclick=obtenerDireccion('"+ data[i].fields.nombre +"')>"+ data[i].fields.nombre +"</td><td onclick=obtenerDireccion('"+ data[i].fields.nombre +"')>"+ data[i].fields.direccion +"</td><td><button type=\"button\" class=\"btn btn-default btn-danger btn-xs\" onclick=\"deleteAlert(" + data[i].pk + ")\">Eliminar</button></td></tr>");
        }

        if(document.getElementById("toto") != null){
            document.getElementById(document.getElementById("toto").value).value = data[0].fields.nombre;

            if($('#'+$('#toto').val()).hasClass('editable')){

                iden = $('#toto').val().split('-');
                iden = iden[1];

                $.ajax({

                    url:'/editar_funcion',
                    data:{'accion':'4', 'iden':iden, 'nomb':nom},
                    type:'GET'

                }).done(function(data){


                    $('#'+$('#toto').val()).html(data.nombre);

                });

            }

            document.getElementById("close").click();
        }
    });

}



function obtenerDireccion(nom){

    var iden;
    if(document.getElementById("toto") != null){
        document.getElementById(document.getElementById("toto").value).value = nom;

        if($('#'+$('#toto').val()).hasClass('editable')){



            iden = $('#toto').val().split('-');
            iden = iden[1];

            $.ajax({

                url:'/editar_funcion',
                data:{'accion':'4', 'iden':iden, 'nomb':nom},
                type:'GET'

            }).done(function(data){


                $('#'+$('#toto').val()).html(data.nombre);

            });

        }

        document.getElementById("close").click();

    }

}

function deleteAlert(id, row){

    if (confirm("¿Esta seguro que desea eliminar?")){

        $.ajax({

            data: {'id':id},
            url: '/eliminar_direccion/',
            type: 'get',
            error:function(a,b,c){

                $('#alertas-ajax').addClass('alert');
                $('#alertas-ajax').addClass('alert-danger');
                document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
                console.log(c);
            }

        }).done(function(data){

            document.getElementById(row).parentNode.removeChild(document.getElementById(row));

        });

    }
    document.getElementById("demo").innerHTML=x;
}

$("#addressModal").on("shown.bs.modal",function(){
        google.maps.event.trigger(map,'resize');

    })
</script>
{% endblock %} {# /JS nivel 3 #}