{% extends 'tabla.html' %}
{% load bootstrap %}
{% block seccion-contenido %}
{% if creado == '1' %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
        ¡Pauta creada satisfactoriamente!
    </div>

{% elif creado == '2' %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
        ¡Pauta editada satifactoriamente!
    </div>

{% elif creado == '3' %}
   <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
         ¡Pauta eliminada satifactoriamente!
    </div>
{% endif %}
    <table id="content" id="content" class="table table-striped table-responsive table-hover dataTable no-footer" aria-describedby="content_info">
        <thead>
            <th>
                Pauta
            </th>
            <th>
                Aciones
            </th>
        </thead>
        <tbody>
            {% for pauta in pautas %}
                <tr>
                    <td>
                        <a href="/ver_pauta/{{ pauta.id }}">{{ pauta.nombre }}</a>
                    </td>
                    <td>
                        <a href="/editar_pauta/{{ pauta.id }}" class="btn-xs btn-default btn">editar</a>
                        <button type="button" onclick="deleteAlert({{pauta.id}})" class="btn-xs btn-default btn-danger">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="col-md-12">
    <a href="/nueva_pauta/{{ evento.id }}" class="btn btn-primary pull-right">Crear Pauta</a>
</div>
{%  endblock %}
{% block js %}
    <script type="text/javascript">
        	function deleteAlert(id)
        	{
        		var r=confirm("¿Esta seguro que desea eliminar?");
        		if (r==true)
        	  {
        			var string1 = "/eliminar_pauta/";
        		  window.location.assign(string1 + id)
          	}
        		else
          	{

          	}
        		document.getElementById("demo").innerHTML=x;
        }

    </script>
{% endblock %}