{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
        Items prestados
{% endblock %}
{% block tabla %}
<div class="col-md-12" style="margin-bottom: 10px">
    <div class="pull-left">
        <a href="/listar_evento/0/" class="btn btn-default"><i class="fa fa-chevron-left"></i> Listar eventos</a>
    </div>
    <div class="pull-right">
        <a href="/prestar_item/{{ evento }}/" class="btn btn-info">Inventario/Prestar</a>
    </div>
</div>
<table class="table table-striped  table-hover" id="content">
    <thead>
        <th>Devuelto</th>
        <th>Item</th>
        <th>Usuario</th>
        <th>Estado</th>
        <th>Acciones</th>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td id="check-{{ item.id }}">{% if item.devuelto == True %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
            <td>{{ item.item.item }}</td>
            <td>{{ item.usuario.nombre}} {{ item.usuario.apellido}}</td>
            <td id="estado-{{ item.id }}">{{ item.estado|truncatechars:30 }}</td>
            <td>
                <a onclick="setModal('{{ item.item.item }}', '{{ item.usuario.nombre}} {{ item.usuario.apellido}}', '{{ item.id }}')" data-toggle="modal" data-target="#estado" class="btn btn-xs btn-default" href="">Devolvio</a>
                <a onclick="eliminarItem('{{ item.id }}')" class="btn btn-xs btn-danger">Eliminar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="estado" tabindex="-1" role="dialog" aria-labelledbby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-img">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center" id="modal-body">
                <textarea class="form-control" placeholder="Estado en el que lo devolvio..." id="input_estado" cols="30" rows="4"></textarea>
            </div>
            <div class="modal-footer text-center" id="modal-footer">
                <a onclick="devolverItem()" data-dismiss="modal" aria-hidden="true" class="btn btn-primary pull-right">Marcar como devuelto</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

function setModal(item, usuario, iden){

    $("#modal-header").html('<button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4>'+item+' - '+usuario+'</h4>');
    $("#input_estado").attr('name', iden);

}

function devolverItem(){

    var iden = $("#input_estado").attr('name');
    var estado = $("#input_estado").val();

    $.ajax({

        url:'/devolver_item_ajax/',
        type:'GET',
        data:{'iden': iden, 'estado': estado}

    }).done(function(data){

        $("#check-"+iden).html('<i class="fa fa-check-square-o">');
        $("#estado-"+iden).html(estado);

    });

}

function eliminarItem(iden){

    if(confirm("¿Esta seguro que desa eliminar este prestamo?")){

        document.location.href='/eliminar_prestamo/'+iden;

    }

}

</script>
{% endblock %}
