{% extends 'admin.html' %}
{% load bootstrap %}
{% block css %}
<link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
{% endblock %}
{% block titulo %}
Nuevo Evento
{% endblock %}
{% block seccion-contenido %}
<input id='toto' type="hidden" value=''>
<form method='POST' id='nuevoEvento' action='' enctype='multipart/form-data'>{% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Datos del evento</h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-3">
                {{ formulario.nombre | bootstrap }}
            </div>
            <div class="col-sm-3">
                {{ formulario.macrocliente | bootstrap }}
            </div>
            <div class="col-sm-3">
                <label>Encargado</label>
                <select id="id_encargado" class="form-control" name="encargado">
                    <option>---------</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label>Sede</label>
                <select id="id_sede" class="form-control" name="sede">
                    <option>---------</option>
                </select>
            </div>
            <div class="col-sm-12">
                {{ formulario.descripcion | bootstrap }}
            </div>
            <div class="col-sm-2">
                {{ formulario.porcentaje_institucion | bootstrap }}
            </div>
            <div class="col-sm-3">
                {{ formulario.tipo | bootstrap }}
            </div>

        </div>
        <div id="campos"></div>
    </div>
</form>
<div>
    <h4>Días</h4>
    <div>
        <div id="id_dias" name=0></div>
        <input type="text" id="id_input_fecha" placeholder="Fecha..."/> <button type="button" class="btn btn-default" onclick="AgregarDia()">Agregar día</button>
    </div>
</div>

        <input type="button" value="Ingresar" class="btn btn-xl btn-primary" onclick="submit()">

<div id='dialog'></div>
<div id='inphid'></div>
    <div style="display: none"><button data-toggle="modal" href="#addressModal" type='' class="btn btn-block btn-default" id='addresstoto'><span class="glyphicon glyphicon-map-marker"></span> Select Address</button></div>

    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true"> <!-- Revisar usabilidady ARIA -->
    <div class="modal-dialog">
      <div class="modal-content modal-address">
        <div class="modal-header">
          <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">Seleccionar Direcciones</h2>
        </div>
        <div class="modal-body">  <!-- !!! falta arregar apariencia en el modal window -->
            {% include "staff/incluir_libreta.html" %}
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}
{% block js %}
<script type="text/javascript">

 var dias = "0.0.0";

// From: http://www.w3schools.com/htmldom/met_table_insertrow.asp

window.onload = function(){

    $('#id_input_fecha').datepicker({ dateFormat: "dd-mm-yy", minDate: 0 });
    $('#id_porcentaje_institucion').spinner({ min: 0 });
    $('#id_porcentaje_institucion').spinner("value",12);
    if(document.getElementById("id_macrocliente").value<1){
        document.getElementById("id_encargado").innerHTML = "<option>---------</option>";
        document.getElementById("id_encargado").disabled = true;
        document.getElementById("id_sede").innerHTML = "<option>---------</option>";
        document.getElementById("id_sede").disabled = true;
    }else{
        ajax_encargado();
        ajax_sede();
    }

}

$('#id_macrocliente').on('change',ajax_encargado);
 $('#id_macrocliente').on('change',ajax_sede);

$("#dialog").dialog("option", "hide");

function aucomloc(id_input){

    var ajax_loc = document.getElementById(id_input).value;
    var a=id_input;

    $.ajax({
        data:{'locacion':ajax_loc},
        url:'/locacion_ajax/',
        type:'GET'
    }).done(function(dominio){

        var locaciones_finales=[];

        for(var i=0; i<dominio.length; i++){
            locaciones_finales.push([dominio[i].fields.nombre].toString());
        }

         a = id_input.split('.');
         a = a[0]+"\\."+a[1]+"\\."+a[2];

        $('#'+a).autocomplete({
            source: locaciones_finales
        });

    });
}

function ajax_encargado(){

    var select_macro = $('#id_macrocliente').val();

    if(select_macro>0){
        $.ajax({

            beforeSend:function(){
                document.getElementById('id_encargado').innerHTML = '<option>Cargando...</option>';
            },
            data:{'id':select_macro},
            url:'/encargado_ajax/',
            type:'get',
            error:function(a,error,otro){
                document.getElementById("id_encargado").innerHTML = "<option>"+otro+"</option>";
            }

        }).done(function(data){

            document.getElementById("id_encargado").disabled = false;
            document.getElementById("id_encargado").innerHTML = "<option>---------</option>";
            for(var i=0;i<data.length;i++){
                document.getElementById('id_encargado').innerHTML = document.getElementById('id_encargado').innerHTML+'<option value='+data[i].pk+'>'+data[i].fields.nombre+'</option>';
            }

        });
    }else{

        document.getElementById("id_encargado").innerHTML = "<option>---------</option>";
        document.getElementById("id_encargado").disabled = true;

    }

}

function ajax_sede(){

    var select_macro = $('#id_macrocliente').val();

    if(select_macro>0){
        $.ajax({

            beforeSend:function(){
                document.getElementById('id_sede').innerHTML = '<option>Cargando...</option>';
            },
            data:{'id':select_macro},
            url:'/sede_ajax/',
            type:'get',
            error:function(a,error,otro){
                document.getElementById("id_sede").innerHTML = "<option>"+otro+"</option>";
            }

        }).done(function(data){

            document.getElementById("id_sede").disabled = false;
            document.getElementById("id_sede").innerHTML = "<option>---------</option>";
            for(var i=0;i<data.length;i++){
                document.getElementById('id_sede').innerHTML = document.getElementById('id_sede').innerHTML+'<option value='+data[i].pk+'>'+data[i].fields.nombre+'</option>';
            }

        });
    }else{

        document.getElementById("id_sede").innerHTML = "<option>---------</option>";
        document.getElementById("id_sede").disabled = true;

    }

}

function AgregarDia(){

    var temp= dias.split(".");
    var aux;

    if(document.getElementById('id_input_fecha').value!=''){
        temp[0]=parseInt(temp[0]);
        temp[0] += 1;
        dias = temp[0]+"."+temp[1]+"."+temp[2];
        document.getElementById('id_dias').innerHTML += "<div class='panel panel-default table-responsive' id='b"+dias+"'><div class='panel-heading'><label id="+dias+" name=0>"+document.getElementById('id_input_fecha').value+"</label> <input type='button' class='btn btn-xs btn-danger' onclick=EliminarDia('"+dias+"') value='Eliminar'/></div><div class='panel-body'><div id=tabla"+dias+"></div></hr><input type='text' onkeyup=aucomloc('input"+dias+"') id=input"+dias+" placeholder='Nombre de la locacion....' > <input type='button' onclick=AgregarLocacion('tabla"+dias+"','input"+dias+"','"+dias+"') value='Agregar Locacion'></div></div>";
        aux = document.getElementById('id_dias').getAttribute('name');
        aux = parseInt(aux);
        aux++;
        document.getElementById('id_dias').setAttribute('name',aux);
        document.getElementById('id_input_fecha').value = '';
    }else{
        alert('vacio');
    }

}

function AgregarLocacion(tablaid,inputid,main){//<-hacer el ajax aqui de validacion de nombre de locacion

    var temp= main.split(".");
    var aux;
    var tempNombre = parseInt(document.getElementById(main).getAttribute('name'));
    var ajax_loc = document.getElementById(inputid).value;

    $.ajax({
        data:{'locacion':ajax_loc},
        url:'/locacion_ajax/',
        type:'GET',
        error:function(){
            if(confirm("La locacion no existe!\nDesea agregar a la libreta de direcciones?")){
                document.getElementById('toto').setAttribute('value',inputid);
                document.getElementById('addresstoto').click();
                /*document.getElementById("dialog").innerHTML = "<iframe src='/libreta_incluida/"+inputid+"' seamless width='100%' height='100%'></iframe>";
                $("#dialog").dialog({title:'Agregar direccion', hide:false, height: 600, width: 900});*/
            }
        }
    }).done(function(dominio){
        aux = dominio[0].fields.nombre.toString();

        if(aux==ajax_loc){

            tempNombre += 1;
            document.getElementById(main).setAttribute('name',tempNombre);
            temp[1]=parseInt(temp[1]);
            temp[1] += 1;
            main = temp[0]+"."+tempNombre+"."+temp[2];

            document.getElementById(tablaid).innerHTML += "<div id='b"+main+"'><p><div class='col-sm-6'><label id="+main+" name=0>"+ajax_loc+"</label><input type='button' class='btn btn-xs' onclick=EliminarLocacion('"+main+"') value='Eliminar'/></div><div style='border-left: 1px solid #dedede;' class='col-sm-6' id="+main+"tabla ></div><div class='col-sm-12'  style='border-bottom: 1px solid #dedede;text-align: right'><input type='button' value='Agregar funcion' onclick=AgregarFuncion('"+main+"tabla','"+main+"')> </div></div>";

        }else{

            if(confirm("La locacion no existe!\nDesea agregar a la libreta de direcciones?")){
                document.getElementById('toto').setAttribute('value',inputid);
                document.getElementById('addresstoto').click();
                /*document.getElementById("dialog").innerHTML = "<iframe src='/libreta_incluida/"+inputid+"' seamless width='100%' height='100%'></iframe>";
                $("#dialog").dialog({title:'Agregar direccion', hide:false, height: 600, width: 900});*/
            }

        }
    });

    document.getElementById(inputid).value='';
}

function AgregarFuncion(tablaid,main){

    var nombre = document.getElementById(main).innerHTML;
    document.getElementById('dialog').innerHTML = "<div><label>Into el nombre de la funcion</label><input type='text' id= input"+main+" /><hr/><input type='button' value='Agregar' onclick=AgregarRegistroFuncion('"+tablaid+"','input"+main+"','"+main+"') /></div>";
    $("#dialog").dialog({title:nombre, hide:false, height:200 , width:300 });


}

function AgregarRegistroFuncion(tablaid,inputid,main){

    var tempNombre = parseInt(document.getElementById(main).getAttribute('name'));
    var temp = main.split('.');
    if(document.getElementById(inputid).value!=''){
        tempNombre += 1;
        document.getElementById(main).setAttribute('name',tempNombre);
        main = temp[0]+"."+temp[1]+"."+tempNombre;
        document.getElementById(tablaid).innerHTML += "<div id='b"+main+"'><label id="+main+" name=0 >"+document.getElementById(inputid).value+"</label><input type='button' class='btn btn-xs' onclick=EliminarFuncion('"+main+"') value='Eliminar'/></br></div>";
    }
    $("#dialog").dialog("close");
}

function EliminarDia(main){

    var aux;
    aux = document.getElementById('id_dias').getAttribute('name');
    aux = parseInt(aux);
    aux--;
    document.getElementById('id_dias').setAttribute('name',aux);
    document.getElementById("b"+main).parentNode.removeChild(document.getElementById("b"+main));

}

function EliminarLocacion(main){

    var nam,aux;
    aux = main.split('.');
    aux = aux[0]+'.0'+'.0';
    nam = document.getElementById(aux).getAttribute("name");
    nam=parseInt(nam);
    nam--;
    document.getElementById(aux).setAttribute("name",nam);
    document.getElementById("b"+main).parentNode.removeChild(document.getElementById("b"+main));

}

function EliminarFuncion(main){

    var nam,aux;
    aux = main.split('.');
    aux = aux[0]+'.'+aux[1]+'.0';
    nam = document.getElementById(aux).getAttribute("name");
    nam=parseInt(nam);
    nam--;
    document.getElementById(aux).setAttribute("name",nam);
    document.getElementById("b"+main).parentNode.removeChild(document.getElementById("b"+main));

}

function submit(){

    var dCant = document.getElementById('id_dias').getAttribute('name');
    var lCant, fCant;
    var d = 0, dAux = 1, l = 1, lAux = 1, f = 1, fAux = 1;
    dCant = parseInt(dCant);

    while(d < dCant){

        while(document.getElementById(dAux+'.0.0') == null){

            dAux++;

        }

        document.getElementById('campos').innerHTML += "<input type='hidden' name='dias' value='"+dAux+".0.0-"+document.getElementById(dAux+'.0.0').innerHTML+"'>";

        lCant = document.getElementById(dAux+'.0.0').getAttribute('name');
        lCant = parseInt(lCant);
        lAux = 1;
        l = 0;

        while(l < lCant){

            while(document.getElementById(dAux+'.'+lAux+'.0') == null){

                lAux++;

            }

            document.getElementById('campos').innerHTML += "<input type='hidden' name='locacion-"+dAux+".0.0' value='"+dAux+"."+lAux+".0-"+document.getElementById(dAux+'.'+lAux+'.0').innerHTML+"'>";

            fCant = document.getElementById(dAux+'.'+lAux+'.0').getAttribute('name');
            fCant = parseInt(fCant);
            fAux = 1;
            f = 0;

            while(f < fCant){

                while(document.getElementById(dAux+'.'+lAux+'.'+fAux) == null){

                    fAux++;

                }

                document.getElementById('campos').innerHTML += "<input type='hidden' name='funcion-"+dAux+"."+lAux+".0' value='"+dAux+"."+lAux+"."+fAux+"-"+document.getElementById(dAux+'.'+lAux+'.'+fAux).innerHTML+"'>";

                fAux++;
                f++;
            }

            lAux++;
            l++;

        }

        dAux++;
        d++;

    }

    document.forms['nuevoEvento'].submit();
}
</script>
{% endblock %}


{% block js-nivel-3 %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/maps.js"></script>
<script type="text/javascript">

$(document).ready(function(){

        setTimeout(function() {
            var latlng = new google.maps.LatLng(34.0883632,18.3788381);
            var myOptions = {
                zoom: 10,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            createMarker(latlng);
        }, 500);

});

function ajax_guardar(){
    var nombre = $('#nombre').val();
    var direccion = $('#formatedAddress').val();
    var descripcion = $('#descripcion').val();
    var latlng = $('#latlng').val();
    var iden;




    $.ajax({
        data:{'nombre': nombre, 'direccion': direccion, 'descripcion': descripcion, 'latlng': latlng},
        url:'/guardar_direccion_ajax/',
        type: 'get',
        error:function(a,b,c){

            $('#alertas-ajax').addClass('alert');
            $('#alertas-ajax').addClass('alert-danger');
            document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
            console.log(c);
        }

    }).done(function(data){
        for(var i=0; i<data.length; i++){
            $('#content').append("<tr><td onclick=obtenerDireccion('"+ data[i].fields.nombre +"')>"+ data[i].fields.nombre +"</td><td onclick=obtenerDireccion('"+ data[i].fields.nombre +"')>"+ data[i].fields.direccion +"</td><td><button type=\"button\" class=\"btn btn-default btn-danger btn-xs\" onclick=\"deleteAlert(" + data[i].pk + ")\">Eliminar</button></td></tr>");
        }

        if(document.getElementById("toto") != null){
            document.getElementById(document.getElementById("toto").value).value = data[0].fields.nombre;

            if($('#'+$('#toto').val()).hasClass('editable')){

                iden = $('#toto').val().split('-');
                iden = iden[1];

                $.ajax({

                    url:'/editar_funcion',
                    data:{'accion':'4', 'iden':iden, 'nomb':nom},
                    type:'GET'

                }).done(function(data){


                    $('#'+$('#toto').val()).html(data.nombre);

                });

            }

            document.getElementById("close").click();
        }
    });

}



function obtenerDireccion(nom){

    var iden;
    if(document.getElementById("toto") != null){
        document.getElementById(document.getElementById("toto").value).value = nom;

        if($('#'+$('#toto').val()).hasClass('editable')){



            iden = $('#toto').val().split('-');
            iden = iden[1];

            $.ajax({

                url:'/editar_funcion',
                data:{'accion':'4', 'iden':iden, 'nomb':nom},
                type:'GET'

            }).done(function(data){


                $('#'+$('#toto').val()).html(data.nombre);

            });

        }

        document.getElementById("close").click();

    }

}

function deleteAlert(id, row){

    if (confirm("¿Esta seguro que desea eliminar?")){

        $.ajax({

            data: {'id':id},
            url: '/eliminar_direccion/',
            type: 'get',
            error:function(a,b,c){

                $('#alertas-ajax').addClass('alert');
                $('#alertas-ajax').addClass('alert-danger');
                document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
                console.log(c);
            }

        }).done(function(data){

            document.getElementById(row).parentNode.removeChild(document.getElementById(row));

        });

    }
    document.getElementById("demo").innerHTML=x;
}
</script>
{% endblock %} {# /JS nivel 3 #}
