{% extends 'tabla.html' %}
{% load bootstrap %}
{% block css %}
<link href="{{ STATIC_URL }}/css/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
<style type="text/css">

.table-responsive{

    max-height:150px;
    overflow-y: auto;

}

</style>
{% endblock %}
{% block titulo %}
Agregar tipo de evento
{% endblock %}
{% block seccion-contenido %}

<form method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-md-5">{{ formulario.nombre | bootstrap }}
                <div class="col-md-5 hidden-xs hidden-sm"></div>
        </div>
        <div class="col-md-7 table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead><th colspan="2">Tipos de eventos</th></thead>
                {% for evento in eventos %}
                <tr id="te-{{ evento.id }}"><td>{{ evento.nombre }}</td><td> <a class="btn btn-xs btn-danger" onclick="eliminarTipoEvento('te-{{ evento.id }}')">Eliminar</a>  <input type="button" class="btn btn-xs" onclick="eliminarTipoEvento('te-{{ evento.id }}')" value='Editar'></td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <hr>
        <h3>Tareas predefinidas por evento</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead><th>Id</th><th>Nombre</th><th>Descripción</th><th>Staff</th><th>Días</th><th>Prela a...</th></thead>
            <tbody name="0" id="tabla-tareas">
            </tbody>
        </table>
        <input type="hidden" name="tareas" id="toDoList" value="0">
    </div>
    <div class="col-md-12">
        <a class="btn btn-danger" onclick="eliminarTarea()"><span class="glyphicon glyphicon-minus"></span> Eliminar tarea</a> <a onclick="agregarTarea()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Agregar tarea</a>
    </div>
    <div class="col-md-12 text-right">
        <input type='submit' class="btn btn-default btn-primary" value='Ingresar'/>
    </div>
</form>
{% endblock %}
{% block js %}
<script type="text/javascript">

function eliminarTipoEvento(iden){

    $(".spinner").spinner();

}

function eliminarTarea(){

    var iden = parseInt(document.getElementById('tabla-tareas').getAttribute('name'));

    if(iden!=1){
        document.getElementById(iden).parentNode.removeChild(document.getElementById(iden));
    }else{
        document.getElementById('tabla-tareas').innerHTML = "";
    }

    iden--;
    document.getElementById('tabla-tareas').setAttribute('name',iden)
    document.getElementById('toDoList').setAttribute('value',iden);
}

function agregarTarea(){

    var iden = parseInt(document.getElementById('tabla-tareas').getAttribute('name')), aux;
    iden++;
    document.getElementById('tabla-tareas').setAttribute('name',iden);

    document.getElementById('tabla-tareas').innerHTML += "<tr id="+iden+"><td>"+iden+"</td><td><input type='text' name='nom-"+iden+"' placeholder='Nombre...'></td><td><textarea name='desc-"+iden+"' placeholder='Tarea...'></textarea></td><td><select name='select-staff-"+iden+"'><option value='0'>---------</option>{% for staf in staff %}<option value='{{ staf.id }}'>{{ staf.nombre }}</option>{% endfor %}</select></td><td><input name='dias-"+iden+"' id='dias-"+iden+"' class='spinner'><div><input name='aod-"+iden+"' value='True' checked='true' type='radio'><span> Antes del evento</span><br><input name='aod-"+iden+"' value='False' type='radio'><span> Despues del evento</span></div></td><td><select id='prel-"+iden+"' name='prel-"+iden+"'><option value='0'>---</option></select></td></tr>";

    document.getElementById('toDoList').setAttribute('value',iden);

    for(var i=1;i<iden;i++){

        document.getElementById("prel-"+i).innerHTML += "<option value='"+iden+"'>"+iden+"</option>";
        document.getElementById("prel-"+iden).innerHTML += "<option value='"+i+"'>"+i+"</option>"

    }
}

</script>
{% endblock %}