{% extends 'admin.html' %}
{% load bootstrap %}
{% block seccion-contenido %}
<form method="POST" action="r" enctype="multipart/form-data">{% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Datos del evento</h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-4">
                {{ formulario.nombre | bootstrap }}
            </div>
            <div class="col-sm-4">
                {{ formulario.macrocliente | bootstrap }}
            </div>
            <div class="col-sm-4">
                {{ formulario.encargado | bootstrap }}
            </div>
            <div class="col-sm-12">
                {{ formulario.descripcion | bootstrap }}
            </div>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Días</h4>
        </div>
        <div class="panel-body">
            <div id="id_dias"></div>
            <input type="text" id="id_input_fecha" placeholder="Fecha..."/> <button type="button" class="btn btn-default" onclick="AgregarDia()">Agregar día</button>
        </div>
    </div>
   <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Funciones</h4>
        </div>
        <div class="panel-body">

            <div class="table-responsive col-sm-12">
                <table class="table table-striped table-bordered table-hover" id="Table-Funcion">
                    <thead>
                        <tr>
                            <th>Locacion (hacer el nombre de la locacion unique)</th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="text" placeholder="Nombre de la locacion...." id="text_loc"> <input type="button" value="Agregar Locacion"> </td>
                    </tr>
                </table>
                <button type="button" class="btn btn-default" onclick="insRowFuncion()">Agregar nueva...</button>
            </div>
        </div>
   </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Casilla de administración</h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-6">
                {{ formulario.porcentaje_institucion | bootstrap}}
            </div>
            <div class="table-responsive col-sm-12">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Gasto</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                {% for gasto in gastos %}
                    {% if forloop.counter|divisibleby:2 %}
                        <tr class="gradeC">
                            <td>{{ gasto.nombre }}</td>
                            <td><input class="form-control" name="{{ gasto.nombre }}" type="text"> </td>
                        </tr>
                    {% else %}
                        <tr class="gradeU">
                            <td>{{ gasto.nombre }}</td>
                            <td><input class="form-control" name="{{ gasto.nombre }}" type="text"> </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
                <button type="button" class="btn btn-default" onclick="insRowGasto()">Agregar Gasto</button>
            </div>
        </div>
    </div>
</form>

<div id='dialog'>holahola</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

$("#dialog").dialog();

// From: http://www.w3schools.com/htmldom/met_table_insertrow.asp

function aucomloc(){

    var ajax_loc = document.getElementById("text_loc").value;

    $.ajax({
        data:{'locacion':ajax_loc},
        url:'/locacion_ajax/',
        type:'GET'
    }).done(function(dominio){

        var locaciones_finales=[];
        for(var i=0; i<dominio.length; i++){
            locaciones_finales.push([dominio[i].fields.nombre].toString());
        }

        $("#text_loc").autocomplete({
            source: locaciones_finales
        });
    });
}

window.onload = function(){
    document.getElementById("text_loc").onkeyup = aucomloc;
    if(document.getElementById("id_macrocliente").value<1){
        document.getElementById("id_encargado").innerHTML = "<option>---------</option>";
        document.getElementById("id_encargado").disabled = true;
    }else{
        ajax_encargado();
    }
}

$('#id_macrocliente').on('change',ajax_encargado);

function ajax_encargado(){

    var select_macro = $('#id_macrocliente').val();

    if(select_macro>0){
        $.ajax({

            beforeSend:function(){
                document.getElementById('id_encargado').innerHTML = '<option>Cargando...</option>';
            },
            data:{'id':select_macro},
            url:'/encargado_ajax/',
            type:'get'

        }).done(function(data){

            document.getElementById("id_encargado").disabled = false;
            document.getElementById("id_encargado").innerHTML = "<option>---------</option>";
            for(var i=0;i<data.length;i++){
                document.getElementById('id_encargado').innerHTML = document.getElementById('id_encargado').innerHTML+'<option value='+data[i].pk+'>'+data[i].fields.nombre+'</option>';
            }

        });
    }else{

        document.getElementById("id_encargado").innerHTML = "<option>---------</option>";
        document.getElementById("id_encargado").disabled = true;

    }

}

function AgregarDia(){

    document.getElementById('id_dias').innerHTML += "<p><label>"+document.getElementById('id_input_fecha').value+"</label></br><div class='table-responsive col-sm-12'><table class='table table-striped table-bordered table-hover'><thead><tr><th>Locacion (hacer el nombre de la locacion unique)</th></tr></thead><tr><td><input type='text' placeholder='Nombre de la locacion....' > <input type='button' value='Agregar Locacion'> </td></tr></table></div></p>";
}
</script>
{% endblock %}