{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
Usuarios por eventos
{% endblock %}
{% block subtitulo %}
    <h3>{{ evento.nombre }}</h3>

{% endblock %}
{% block seccion-contenido %}
<div class="row">
    <div style="margin-bottom: 15px;" class="col-md-12">
        <a data-toggle="modal" data-target="#mail"  class="btn btn-default pull-right">Enviar correo a convocados</a>
    </div>
</div>
<form method="POST" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="col-sm-4">
        <label>Funcion</label>
        <select class=" form-control" id="select_funcion" onchange="getStaff(this.value)">
            <option value="0">---------</option>
            {% for funcion in funciones %}
                <option value="{{funcion.id}}">{{funcion.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-4">
        <label>Staff</label>
        <select class=" form-control" id="select_staff" onchange="setStaff(this.value)">
            <option>---------</option>
        </select>
    </div>
    <div class="col-sm-4">
        <span id='cont'></span>
    </div>
    <div class="col-sm-12" id="tabla_personal">
        <table id="content" class="table table-striped  table-hover" name='0'>
        </table>
    </div>
</form>
<form action="/correo_staff/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{CorreoForm.evento}}
    {{CorreoForm.funcion}}
    {{CorreoForm.staff}}
    <input id="boton_correo" style="display:none" type="submit" class="btn btn-primary" value="Enviar Correos">
</form>
<div class="modal fade" id="mail" tabindex="-1" role="dialog" aria-labelledbby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Correo</h4>
            </div>
            <div class="modal-body text-center" id="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" placeholder="Cuerpo del correo..." value="" name="mail" id="id_mail" cols="10" rows="7">Hola!
El presente correo es para notificarte que has sido seleccionado para trabajar con nosotros en el evento {{ evento.nombre }}. Por favor comunicate con el gerente de logistica para mas informacion.
Gracias por trabajar con nosotros!
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center" id="modal-footer">
                <span class="pull-left"><i class="pull-right" style="color: #aaaaaa">NOTA: Este mail será enviado a todos los miembro del staff<br/>que han sido convocado para este evento</i></span>
                <a onclick="enviarMailConvocados('{{ evento.id }}')" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Enviar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

window.onload = function(){

    if(parseInt(document.getElementById("select_funcion").value)==0){
        document.getElementById("select_staff").innerHTML = "<option>---------</option>";
        document.getElementById("select_staff").disabled = true;
    }else{
        getStaff(document.getElementById('select_funcion').getAttribute('value'));
    }
}

function getStaff(func){

    if(func > 0){

        $.ajax({

            beforeSend:function(){

                document.getElementById("content").innerHTML = "";
                document.getElementById('cont').innerHTML = "";

            },
            data:{funcion:func},
            url:'/get_staff_usuario_por_evento/',
            type:'GET',
            error:function(a,b,c){

                $('#alertas-ajax').addClass('alert');
                $('#alertas-ajax').addClass('alert-danger');
                document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
                console.log(c);
            }

        }).done(function(data){

            document.getElementById('select_staff').setAttribute("onChange","setStaff(this.value,"+func+")");

            document.getElementById("select_staff").innerHTML = "<option value='0'>---------</option>";
            for(var i = 0; i < data.length; i++){

                {% for elstaff in staff %}

                    if(data[i].fields.tipo == parseInt("{{elstaff.id}}")){

                        document.getElementById('select_staff').innerHTML = document.getElementById('select_staff').innerHTML+"<option value='{{elstaff.id}}."+data[i].fields.cantidad+"'>{{elstaff.nombre}} ("+data[i].fields.cantidad+")</option>";

                    }

                {% endfor %}

            }

             document.getElementById("select_staff").disabled = false;
        });

    }else{

        document.getElementById("select_staff").innerHTML = "<option>---------</option>";
        document.getElementById("select_staff").disabled = true;
        document.getElementById("content").innerHTML = "";
        document.getElementById('cont').innerHTML = "";
    }
}

function setStaff(val, func){

    var aux, staff, cant;
    aux = val.split('.');
    staff = aux[0];
    cant = aux[1];

    if(val!=0){

        $.ajax({

            data:{staff: staff, funcion:func, marc:'0'},
            url:'/get_staff_usuarios_usuario_por_evento/',
            type:'GET',
            error:function(a,b,c){

                $('#alertas-ajax').addClass('alert');
                $('#alertas-ajax').addClass('alert-danger');
                document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
                console.log(c);
            }

        }).done(function(data){


            document.getElementById('content').innerHTML = "<thead><th>Personal disponible</th><th>Email</th><th>Telefono</th><th>Acciones</th></thead>";
            document.getElementById('content').setAttribute('name',cant);

            for(var i = 0; i<data.length; i++){

                document.getElementById('content').innerHTML += "<tr><td><a>"+data[i].fields.nombre+" "+data[i].fields.apellido+"</a></td><td> "+data[i].fields.email+"</td><td> "+data[i].fields.telefono_celular+"</td><td><a class='btn btn-warning' id='"+data[i].pk+"' name='0' onclick=convocar(this.id,"+func+",this.name) ><span class='fa fa-square-o'></span> Convocar</a></td></tr>";

                $.ajax({

                    data:{usuario:data[i].pk, funcion:func, marc:'1'},
                    url:'/get_staff_usuarios_usuario_por_evento/',
                    type:'GET',
                    error:function(a,b,c){

                        $('#alertas-ajax').addClass('alert');
                        $('#alertas-ajax').addClass('alert-danger');
                        document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
                        console.log(c);
                    }

                }).done(function(data1){

                    for(var t = 0; t<data.length; t++){

                        if(data1[t].fields.fue_convocado == true){

                            document.getElementById(data[t].pk).setAttribute('class','btn btn-success');
                            document.getElementById(data[t].pk).setAttribute('name','1');
                            document.getElementById(data[t].pk).innerHTML = "<span class='fa fa-check-square-o'></span> Convocar";

                            document.getElementById('content').setAttribute('name',parseInt(document.getElementById('content').getAttribute('name'))-1);
                            console.log(document.getElementById('content').getAttribute('name'));

                        }

                    }

                });

            }

            console.log(document.getElementById('content').getAttribute('name'));

            if(parseInt(document.getElementById('content').getAttribute('name')) != 0){

                document.getElementById('cont').innerHTML = "<h2>Faltan "+document.getElementById('content').getAttribute('name')+"</h2>";
            }else{
                document.getElementById('cont').innerHTML = "<h2>Listo!</h2>";
            }
        });

    }else{
        document.getElementById("content").innerHTML = "";
        document.getElementById('cont').innerHTML = "";
    }
    /*Seccion del boton de correo y de los campos ocultos*/
    document.getElementById('evento').value = {{evento.id}};
    document.getElementById('funcion').value = document.getElementById('select_funcion').value;
    document.getElementById('staff').value = document.getElementById('select_staff').value;
    $('#boton_correo').show();

}

function convocar(iden, func, flag){

    var aux= parseInt(document.getElementById('content').getAttribute('name'));

    $.ajax({

        data:{usuario:iden, funcion:func},
        url:"/convocar_usuario_a_evento/",
        type:"GET",
        error:function(a,b,c){

            $('#alertas-ajax').addClass('alert');
            $('#alertas-ajax').addClass('alert-danger');
            document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
            console.log(c);
        }

    }).done(function(data){

        if(flag == '0' && aux!=0){

            document.getElementById(iden).setAttribute('class','btn btn-success');
            document.getElementById(iden).setAttribute('name','1');
            document.getElementById(iden).innerHTML = "<span class='fa fa-check-square-o'></span> Convocar";
            aux--;
            document.getElementById('content').setAttribute('name',aux);

            if(aux == 0){

                document.getElementById('cont').innerHTML = "<h2>Listo!</h2>";

            }else{

                document.getElementById('cont').innerHTML = "<h2>Faltan "+document.getElementById('content').getAttribute('name')+" mas</h2>";

            }

        }else if(flag == '1'){

            document.getElementById(iden).setAttribute('class','btn btn-warning');
            document.getElementById(iden).setAttribute('name','0');
            document.getElementById(iden).innerHTML = "<span class='fa fa-square-o'></span> Convocar";
            aux++;
            document.getElementById('content').setAttribute('name',aux);
            document.getElementById('cont').innerHTML = "<h2>Faltan "+document.getElementById('content').getAttribute('name')+" mas</h2>";

        }

    });

}

function enviarMailConvocados(evento){

    var mail = $("#id_mail").val();

    $.ajax({

        url: '/enviar_correo_convocados/',
        type: 'GET',
        data: {'evento': evento, 'mail': mail}

    }).done(function(data){

        $("#id_mail").val('');

    });
}
</script>
{% endblock %}