{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
Lista de tareas
{% endblock %}
{% block seccion-contenido%}
<table class="table table-striped table-bordered table-hover" id="content">
    <thead><th>Tarea</th><th>Contenido</th><th>Asociado a...</th><th>Antes del...</th><th>Estado</th></thead>
    {% for tarea in tareas %}
    <tr><td>{{tarea.nombre}}</td><td>{{tarea.tarea}}</td><td>{{tarea.evento}}</td><td>{{tarea.fecha}}</td><td>             <select class="form-control" onchange="listo(this.value,'{{tarea.id}}')">
                 <option value="1" {% if tarea.lista == "False" %} selected="True"{% endif %}>Pendiente</option>
                 <option value="2" {% if tarea.lista == "True" %} selected="True"{% endif %}>Listo</option>
                 <option value="0" {% if tarea.lista == "None" %} selected="True"{% endif %}>N/A</option>
             </select></td></tr>
    {% endfor %}
</table>
{% endblock %}
{% block js %}
<script type="text/javascript">

function listo(stado,tarea){

    $.ajax({

        data:{estado:stado, tarea:tarea},
        url:'/modificar_estado_tarea/',
        type:'GET',
        error:function(a,b,c){



        }

    }).done();

}

</script>
{% endblock %}