{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
Lista de tareas
{% endblock %}
{% block seccion-contenido%}
<table class="table table-striped table-bordered table-hover" id="content">
    <thead><th>Tarea</th><th>Contenido</th><th>Asociado a...</th><th>Antes del...</th><th>Estado</th></thead>
    {% for tarea in tareas %}
    <tr><td>{{tarea.nombre}}</td><td>{{tarea.tarea}}</td><td>{{tarea.evento}}</td><td>{{tarea.fecha}}</td><td><select id="select-{{tarea.id}}" onchange="listo(this.value,'{{tarea.id}}')"><option value="1">Pendiente</option><option value="2">Listo</option><option value="0">N/A</option></select> <span id='span-{{tarea.id}}' class="glyphicon glyphicon-floppy-disk"></span></td></tr>
    {% endfor %}
</table>
{% endblock %}
{% block js %}
<script type="text/javascript">

window.onload = function(){

    {% for tarea in tareas %}

        if("{{tarea.lista}}"=="True"){

            document.getElementById("select-{{tarea.id}}")[1].selected = true;

        }else if("{{tarea.lista}}"=="False"){

            document.getElementById("select-{{tarea.id}}")[0].selected = true;

        }else{

            document.getElementById("select-{{tarea.id}}")[2].selected = true;

        }

    {% endfor %}

}

function listo(stado,tarea){

    $.ajax({

        beforeSend:function(){

            document.getElementById("span-"+tarea).setAttribute("class","glyphicon glyphicon-floppy-disk");

        },
        data:{estado:stado, tarea:tarea},
        url:'/modificar_estado_tarea/',
        type:'GET',
        error:function(a,b,c){

            document.getElementById("span-"+tarea).setAttribute("class","glyphicon glyphicon-floppy-remove");

        }

    }).done(function(data){

        document.getElementById("span-"+tarea).setAttribute("class","glyphicon glyphicon-floppy-saved");

    });

}

</script>
{% endblock %}