{% extends 'admin.html' %}
{% load bootstrap %}
{% block titulo %}
    Ver Tarea: {{ tarea.nombre }}
{% endblock %}
{% block seccion-contenido %}
<div class="row">
    <div class="col-sm-3">
        <strong>Nombre de la tarea:</strong>
        <p>{{ tarea.nombre }}</p>
    </div>
    <div class="col-sm-3">
        <strong>Asignada a: </strong>
        <p>{{ tarea.asignado }}</p>
    </div>
    <div class="col-sm-3">
        <strong>Fecha de vencimiento:</strong>
        <p>{{ tarea.fecha }}</p>
    </div>
    <div class="col-sm-3">
        <strong>Evento:</strong>
        {% if tarea.evento == None %}
            <p>N/A</p>
        {% else %}
            <p>{{ tarea.evento }}</p>
        {% endif %}
    </div>
    <div class="col-sm-12">
        <strong>Descripcion:</strong>
        <p>{{ tarea.tarea }}</p>
    </div>
    <div class="col-sm-4">
         <strong>
             Estado:
             <select class="form-control" onchange="listo(this.value,'{{tarea.id}}')">
                 <option value="1" {% if tarea.lista == "False" %} selected="True"{% endif %}>Pendiente</option>
                 <option value="2" {% if tarea.lista == "True" %} selected="True"{% endif %}>Listo</option>
                 <option value="0" {% if tarea.lista == "None" %} selected="True"{% endif %}>N/A</option>
             </select>
         </strong>
    </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
    function listo(stado,tarea){

    $.ajax({

        data:{estado:stado, tarea:tarea},
        url:'/modificar_estado_tarea/',
        type:'GET',
        error:function(a,b,c){



        }

    }).done();

}

</script>
{% endblock %}