<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Intranet Fotomov - {{seccion}}</title>

    <!-- COMPILED LESS -->
<!--     <link href="{{ STATIC_URL }}/css/main.css"  type="text/css" rel="stylesheet">      -->
    <link href="{{ STATIC_URL }}/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- uncompiled LESS -->
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/less/main.less" />
	<script>
	  less = {
	    env: "development",
	    async: true,
	    fileAsync: false,
	    poll: 1000,
	    functions: {},
	    dumpLineNumbers: "comments",
	    relativeUrls: false,
	    rootpath: ":/a.com/"
	  };
	</script>
	<script src="{{ STATIC_URL }}/js/less-1.7.0.min.js"></script>

    <!-- OVERRIDE CSS -->
<!--     <link href="{{ STATIC_URL }}/css/override.css"  type="text/css" rel="stylesheet"> -->


    
    {% block css %}
    	{# solo para casos muy particulares #}
    {% endblock %}

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Men&uacute;</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/escritorio/"><img src="{{STATIC_URL}}//img/fotomov-logo.png" alt="Intranet Fotomov"></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> Mensajes <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Cristina Yepez</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Termina mi página...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Cristina Yepez</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Pedro Perez</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Todos los mensajes</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown keep-open">
                    <a class="dropdown-toggle tasks-toggle" id="tasks-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> Tareas <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        {% for tarea in tareas %} 
                        <li class="tarea" id="tarea-{{ tarea.id }}" {% if tarea.lista == 'None' %} style="display: none" {% endif %}>
                            <div class="acciones">
                                <button onclick="listo(this.name,{{ tarea.id }})" {% if tarea.lista == "True" %} name = '1'{% else %}name = '2'{% endif %} class="checkmark {% if tarea.lista == "True" %} listo{% endif %}" id='check-{{ tarea.id }}'>{% if tarea.lista == "True" %}{% endif %}</button>
                                <a onclick="listo('0',{{ tarea.id }})" class="no-aplica">No aplica</a>
                            </div>
                            <a class="datos" href="/ver_tarea/{{ tarea.id }}">
                                <div>
                                        <h5 class="task-title">{{ tarea.nombre }}</h5>
                                        <div class="detalle">
                                            <span class="evento">{% if tarea.evento %}Evento: {{ tarea.evento.nombre }}{% endif %}</span><br>
                                            <span class="fecha"><i class="fa fa-calendar"></i> {{ tarea.fecha }}</span>
                                        </div>
                                </div>
                            </a>
                        </li>
                         {% endfor %}
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Todos mis tareas</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Mensaje enviado
                                    <span class="pull-right text-muted small">10:30am</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/crear_tarea">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i>Nueva Tarea
                                    <span class="pull-right text-muted small">9:54am</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Notificacion
                                    <span class="pull-right text-muted small">Ayer</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Todas las alertas</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/editar_perfil/0"><i class="fa fa-user fa-fw"></i> Mi perfil</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuración</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="/escritorio"><i class="fa fa-dashboard fa-fw"></i> Escritorio</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Órdenes<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Buscar órdenes</a>
                            </li>
                            <li>
                                <a href="#">Órdenes pendientes</a>
                            </li>
                            <li>
                                <a href="#">Pagos Pendientes</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-calendar-o fa-fw"></i> Eventos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/listar_evento/0">Lista de eventos</a>
                            </li>
                            <li>
                                <a href="#">Calendario de eventos</a>
                            </li>
                            <li>
                                <a href="#">Configuración predeterminada</a>
                            </li>
                            <li>
                                <a href="/nuevo_tipo_de_evento/0/">Tipos de eventos</a>
                            </li>
                            <li>
                                <a href="/nuevo_evento"><i class="fa fa-plus"></i> Nuevo evento</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users fa-fw"></i> Macroclientes<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/listar_macroclientes/0">Lista de Macroclientes</a>
                            </li>
                            <li>
                                <a href="#">Registrar conversaci&oacute;n</a>
                            </li>
                            <li>
                                <a href="#">Historial de conversaci&oacute;n</a>
                            </li>
                            <li>
                                <a href="/nuevo_macrocliente"><i class="fa fa-plus"></i> Nuevo macrocliente</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-user fa-fw"></i> Clientes</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Staff / usuarios<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                            <li>
                                <a href="/listar_usuario/0">Listar Usuarios</a>
                            </li>
                            <li>
                                <a href="/nuevo_usuario"><i class="fa fa-plus"></i> Nuevo Usuario</a>
                            </li>
                            <li>
                                <a href="/configurar_staff/0"><i class="fa fa-plus"></i> Configuracion de Staff</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tasks fa-fw"></i> Gestionar tareas<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Asignar tarea</a>
                            </li>
                            <li>
                                <a href="#">Supervisar tareas</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tags"></i> Marcas<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/listar_marcas/0">Listar Marcas</a>
                            </li>
                            <li>
                                <a href="/nueva_marca"><i class="fa fa-plus"></i> Nueva Marca</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tags"></i> Productos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/listar_producto/0">Listar Productos</a>
                            </li>
                            <li>
                                <a href="/nuevo_producto"><i class="fa fa-plus"></i>Nuevo Producto</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cog"></i> Administración<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/listar_producto/0">Listar Gastos</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-plus"></i> Agregar <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/nuevo_gasto/">Nuevo Gasto</a>
                                    </li>
                                    <li>
                                        <a href="/nueva_forma_de_pago/">Nueva Forma de Pago</a>
                                    </li>
                                    <li>
                                        <a href="/nuevo_tipo_de_gasto/">Nuevo Tipo de Gasto</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lock fa-fw"></i> Otro elemento<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Item segundo nivel</a>
                            </li>
                            <li>
                                <a href="#">Item segundo nivel</a>
                            </li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Item tercer nivel</a>
                                    </li>
                                    <li>
                                        <a href="#">Item tercer nivel</a>
                                    </li>
                                    <li>
                                        <a href="#">Item tercer nivel</a>
                                    </li>
                                    <li>
                                        <a href="#">Item tercer nivel</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Estad&iacute;sticas</a>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="main" class="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alertas-ajax"  id="alertas-ajax"></div>
                    <h1 class="page-header">{% block titulo%}{% endblock %}</h1>
                    <p class="heading">{% block subtitulo%}{% endblock %}</p>
                </div>
                {% block breadcrumbs %}
                {% endblock %}
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {% block seccion-contenido%}
            {% endblock %}
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		<footer>
			Los elementos de la pagina que no se están presentando para revisión se muestran con fines ilustrativos y no necesariamente representan la funcionalidad final<br>
			<br>
			Sitio bajo desarollo<br>
			por Turpial<br>
			Fotomov C.A.
		</footer>
    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
   <!-- <script src="{{ STATIC_URL }}/js/jquery-1.10.2.js"></script> -->
    <script>window.jQuery || document.write('<script src="{{STATIC_URL}}/js/jquery-1.10.2.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
<!--
    <script src="{{ STATIC_URL }}/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}/js/plugins/morris/morris.js"></script> 
-->

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ STATIC_URL }}/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="{{ STATIC_URL }}/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript">

function listo(stado,tarea){

    $.ajax({

        data:{estado:stado, tarea:tarea},
        url:'/modificar_estado_tarea/',
        type:'GET',
        error:function(a,b,c){

            $('#alertas-ajax').addClass('alert');
            $('#alertas-ajax').addClass('alert-danger');
            document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
            console.log(c);
        }

    }).done(function(data){

        if(data.status == 'True'){

            $("#check-"+tarea).addClass("listo");
            $("#check-"+tarea).attr('name','1');

        }else if(data.status == 'False'){

            $("#check-"+tarea).removeClass("listo");
            $("#check-"+tarea).attr('name','2');

        }else if(data.status == "None"){

            $("#tarea-"+tarea).fadeOut();

        }

    });

}

</script>

	{% block js-nivel-1 %}
	{% endblock %}
	{% block js-nivel-2 %}
	{% endblock %}
	{% block js-nivel-3 %}
	{% endblock %}
	
	{% block js %}
	{% endblock %}

</body>

</html>
