<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Repuestos Prueba</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
    

  </head>

  <body>
  <div><form id='formulario' method='post' action=''>{% csrf_token %}
			{{error_log}}
			<table>{{formulario}}</table>
		  <p><input type='submit' value='Ingresar'/></p><div>
<div class="header row">
</div>
<div class="cuerpo row">   
    <form id='formulario' enctype='multipart/form-data' method='post' action=''>
    {% csrf_token %}
      
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#paso1" data-toggle="tab">Datos</a></li>
        <li><a href="#paso2" data-toggle="tab">Pedidos</a></li>
    </ul>
      
`	<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="paso1">
            <div class="campo-form"><div class="label-form">{{datos_form.nombre.label}}</div><div class="input-form">{{datos_form.nombre}}</div></div>
            <div class="campo-error">{{datos_form.nombre.errors}}</div>
            <div class="campo-form"><div class="label-form">{{datos_form.apellido.label}}</div><div class="input-form">{{datos_form.apellido}}</div></div>
            <div class="campo-error">{{datos_form.apellido.errors}}</div>
            <div class="campo-form"><div class="label-form">{{datos_form.clave.label}}</div><div class="input-form">{{datos_form.clave}}</div></div>
            <div class="campo-error">{{datos_form.clave.errors}}</div>
            <div class="campo-form"><div class="label-form">{{datos_form.clave_confirmacion.label}}</div>
            <div class="input-form">{{datos_form.clave_confirmacion}}</div></div> 
            <div class="campo-error">{{datos_form.clave_confirmacion.errors}} {{mensaje_contrasena}} </div> 
            <div class="campo-form"><div class="label-form">Telefono</div><div class="input-form">{{datos_form.cod_telefono}}</div></div>
            <div class="campo-error">{{datos_form.cod_telefono.errors}}</div>
            <div class="campo-form"><div class="label-form"></div><div class="input-form">{{datos_form.telefono}}</div></div>
            <div class="campo-error">{{datos_form.telefono.errors}}</div>
            <div class="campo-form"><div class="label-form">{{datos_form.email.label}}</div><div class="input-form">{{datos_form.email}}</div></div>
            <div class="campo-error">{{datos_form.email.errors}}</div>
            
            <div class="seccion-confirmar"><input type='submit' value='Guardar' /></div>

	</div>
	<div class="tab-pane fade" id="paso2">
        <div id="contenedor">
          <table>
		<tr>
		<th>Detalles</th>
		<th>Repuesto</th>
		<th>Marca</th>
		<th>Ano</th>
		<th>Modelo</th>
		<th>Status</th>
		<th>Precio</th>
		<th>Recibido</th>
		</tr>
          
            {% for l in lista_pedidos %}
	       	<tr>
	       	<td> Ver </td>
		<td>{{l.repuesto}}</td>
		<td>{{l.vehiculo.marca}}</td>
		<td>{{l.vehiculo.year}}</td>
	        <td>{{l.vehiculo.modelo}}</td>
	        <td>{{l.status}}</td>
	        <td>  
         	    {% if l.precio == '' %}
	               NA
	            {% else %}
	               {{l.precio}}
	            {% endif %} </td>
	        <td>
	            {% if l.recibido == True %}
	               <input type="checkbox" checked name="lista_recibidos" value="{{l.id}}" disabled> 
	            {% else %}
	               <input type="checkbox" name="lista_recibidos" value="{{l.id}}" disabled>
	            {% endif %} </td>
	      {% empty %}
	      Usted no tiene pedidos registrados hasta el momento
	    {% endfor %}
         
            <div class="seccion-anterior-siguiente"><a id="boton-a-2">Anterior</a></div>
	</div>
        
	</div>        
	</form>
</div>

<div class="footer row">
	<div class="contenido-footer container">
        Developed by <a href="http://www.turpialdevelopment.com" target="_blank">Turpial Development</a>
	</div>
</div>

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function (){
                //Aqui asignamos el click al elemento <a>
                $("#boton1").click(function (){
                    $( "#contenedor" ).append("<div class=\"campo-form\"><div class=\"label-form\">Nombre Repuesto</div><div class=\"input-form\"><input  name=\"alist\" /></div></div><div class=\"campo-error\">{{pedido_form.serial.errors}}</div><div class=\"campo-form\"><div class=\"label-form\">Numero Repuesto</div><div class=\"input-form\"><input  name=\"alist\" /></div></div><div class=\"campo-error\">{{pedido_form.version.errors}}</div>");
                });
				$("#boton-s-1").click(function (){
					$('#myTab li:eq(1) a').tab('show');
				});
				$("#boton-a-2").click(function (){
					$('#myTab li:eq(0) a').tab('show');
				});
            });
    </script>
  </body>
</html>



