<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Repuestos Prueba</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
    

  </head>

  <body>
  <div><form id='formulario' method='post' action=''>{% csrf_token %}
			{{error_log}}
			<table>{{formulario}}</table>
		  <p><input type='submit' value='Ingresar' name="_ingresar"/></p><div>
<div class="header row">
</div>
<div class="cuerpo row">  
{{mensaje}}  
    <form id='formulario' enctype='multipart/form-data' method='post' action=''>
    {% csrf_token %}
      
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#paso1" data-toggle="tab">Paso 1</a></li>
        <li><a href="#paso2" data-toggle="tab">Paso 2</a></li>
        <li><a href="#paso3" data-toggle="tab">Paso 3</a></li>
    </ul>
      
`	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="paso1">
            <div class="campo-form"><div class="label-form">{{pedido_form.marca.label}}</div><div class="input-form">{{pedido_form.marca}}</div></div>
            <div class="campo-error">{{pedido_form.marca.errors}}</div>
            <div class="campo-form"><div class="label-form">{{pedido_form.modelo.label}}</div><div class="input-form">{{pedido_form.modelo}}</div></div>
            <div class="campo-error">{{pedido_form.modelo.errors}}</div>
            <div class="campo-form"><div class="label-form">{{pedido_form.year.label}}</div><div class="input-form">{{pedido_form.year}}</div></div>
            <div class="campo-error">{{pedido_form.year.errors}}</div>
            <div class="campo-form"><div class="label-form">{{pedido_form.serial.label}}</div><div class="input-form">{{pedido_form.serial}}</div></div>
            <div class="campo-error">{{pedido_form.serial.errors}}</div>
            <div class="campo-form"><div class="label-form">{{pedido_form.version.label}}</div><div class="input-form">{{pedido_form.version}}</div></div>
            <div class="campo-error">{{pedido_form.version.errors}}</div>
            <div class="seccion-anterior-siguiente"><a id="boton-s-1">Siguiente</a></div>
		</div>
		<div class="tab-pane fade" id="paso2">
        	<div id="contenedor">
            <div class="campo-form"><div class="label-form">Nombre Repuesto</div><div class="input-form"><input  name="alist" /></div></div>
            <div class="campo-error">{{pedido_form.serial.errors}}</div>
            <div class="campo-form"><div class="label-form">Numero Repuesto</div><div class="input-form"><input  name="alist" /></div></div>
            <div class="campo-error">{{pedido_form.version.errors}}</div>  
            </div>
            <div class="campo-error"><a id="boton1">Agregar campo</a></div>
            <div class="seccion-anterior-siguiente"><a id="boton-a-2">Anterior</a> | <a id="boton-s-2">Siguiente</a></div>
		</div>
        <div class="tab-pane fade" id="paso3">
            <div class="campo-form"><div class="label-form">{{pedido_form.user_email.label}}</div><div class="input-form">{{pedido_form.user_email}}</div></div>
            <div class="campo-error">{{pedido_form.user_email.errors}}</div> 
            <div class="campo-form"><div class="label-form">{{pedido_form.user_pass.label}}</div><div class="input-form">{{pedido_form.user_pass}}</div></div>
            <div class="campo-error">{{pedido_form.user_pass.errors}}</div>  
            <div class="campo-form"><div class="label-form">{{pedido_form.user_pass2.label}}</div><div class="input-form">{{pedido_form.user_pass2}}</div></div>
						<div class="campo-error">{{pedido_form.user_pass2.errors}}</div>  
            <div class="campo-form"><div class="label-form">{{pedido_form.user_nombre.label}}</div><div class="input-form">{{pedido_form.user_nombre}}</div></div>
						<div class="campo-error">{{pedido_form.user_nombre.errors}}</div>  
            <div class="campo-form"><div class="label-form">{{pedido_form.user_apellido.label}}</div><div class="input-form">{{pedido_form.user_apellido}}</div></div>
            <div class="campo-error">{{pedido_form.user_apellido.errors}}</div>
            <div class="campo-form"><div class="label-form">{{pedido_form.user_telfop.label}}</div><div class="input-form">{{pedido_form.user_telfop}}</div></div>
            <div class="campo-error">{{pedido_form.user_telfop.errors}}</div>
            <div class="campo-form"><div class="label-form">{{pedido_form.user_telf.label}}</div><div class="input-form">{{pedido_form.user_telf}}</div></div>
            <div class="campo-error">{{pedido_form.user_telf.errors}}</div>

            
            
            <div class="seccion-anterior-siguiente"><a id="boton-a-3">Anterior</a></div>
            <div class="seccion-confirmar"><input type='submit' value='Confirmar' /></div>
        </div>
	</div>        
	</form>
</div>
<div class="footer row">
	<div class="contenido-footer container">
        Developed by <a href="http://www.turpialdevelopment.com" target="_blank">Turpial Development</a>
	</div>
</div>

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function (){
                //Aqui asignamos el click al elemento <a>
                $("#boton1").click(function (){
                    $( "#contenedor" ).append("<div class=\"campo-form\"><div class=\"label-form\">Nombre del Campo</div><div class=\"input-form\"><input  name=\"alist\" /></div></div><div class=\"campo-error\"></div><div class=\"campo-form\"><div class=\"label-form\">Valor del campo</div><div class=\"input-form\"><input  name=\"alist\" /></div></div><div class=\"campo-error\"></div>");
                });
				$("#boton-s-1").click(function (){
					$('#myTab li:eq(1) a').tab('show');
				});
				$("#boton-a-2").click(function (){
					$('#myTab li:eq(0) a').tab('show');
				});
				$("#boton-s-2").click(function (){
					$('#myTab li:eq(2) a').tab('show');
				});
				$("#boton-a-3").click(function (){
					$('#myTab li:eq(1) a').tab('show');
				});
            });
    </script>
  </body>
</html>



