<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Repuestos Prueba</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
    

  </head>

  <body>
<div class="cuerpo row">  

	<div id="wrap">
			<div id='allUser'>
				<h1 id="header"> </h1>
				<div id="scroll" style="width:500px; height:200px; overflow: scroll;">
					<ul id="list">
						{% for item in pedidos %}	
							<li>
								<a href='/edit_post/{{item.id}}'>{{item.repuesto.nombre}}</a><button onclick="deleteAlert({{item.id}})">Delete</button>
							</li>							
							{% empty %}
								No hay pedidos registrados
						{% endfor %}
					</ul>
				</div>	
			</div>
		</div>

</div>
<div class="footer row">
	<div class="contenido-footer container">
        Developed by <a href="http://www.turpialdevelopment.com" target="_blank">Turpial Development</a>
	</div>
</div>

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function (){
                //Aqui asignamos el click al elemento <a>
                $("#boton1").click(function (){
                    $( "#contenedor" ).append("<div class=\"campo-form\"><div class=\"label-form\">Nombre Repuesto</div><div class=\"input-form\"><input  name=\"alist\" /></div></div><div class=\"campo-error\">{{pedido_form.serial.errors}}</div><div class=\"campo-form\"><div class=\"label-form\">Numero Repuesto</div><div class=\"input-form\"><input  name=\"alist\" /></div></div><div class=\"campo-error\">{{pedido_form.version.errors}}</div>");
                });
				$("#boton-s-1").click(function (){
					$('#myTab li:eq(1) a').tab('show');
				});
				$("#boton-a-2").click(function (){
					$('#myTab li:eq(0) a').tab('show');
				});
				$("#boton-s-2").click(function (){
					$('#myTab li:eq(2) a').tab('show');
				});
				$("#boton-a-3").click(function (){
					$('#myTab li:eq(1) a').tab('show');
				});
            });
    </script>
  </body>
</html>



