<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Repuestos Prueba</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
    

  </head>

  <body>
<div class="header row">
</div>
<div class="cuerpo row">  
    <form id="formulario" action="/mod_pedidos/" method="post">
    {% csrf_token %}
    
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#paso1" data-toggle="tab">Administrador</a></li>
    </ul>
      
`	<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="paso1">
	  <table>
		<tr>
		<th>Fecha</th>
		<th>Detalles</th>
		<th>Repuesto</th>
		<th>Marca</th>
		<th>Ano</th>
		<th>Modelo</th>
		<th>Status</th>
		<th>Precio</th>
		<th>Recibido</th>
		<th>Modificar</th>
		<th>Boton</th>
		</tr>
		
	    {% for l in lista_pedidos %}
		<tr>
		<td>{{l.fecha}}</td>
		<td>Ver</td>
		<td>{{l.repuesto}}</td>
		<td>{{l.vehiculo.marca}}</td>
		<td>{{l.vehiculo.year}}</td>
		<td>{{l.vehiculo.modelo}}</td>
		<td><input id="status{{l.id}}" type="text" name="status{{l.id}}" value="{{l.status}}" size=10 disabled></td>
		<td>
		  {% if l.precio == '' %}
	            <input id="precio{{l.id}}" type="text" name="precio{{l.id}}" value="NA" size=4 disabled>
	          {% else %}
	            <input id="precio{{l.id}}" type="text" name="precio{{l.id}}" value="{{l.precio}}" size=4 disabled>
	          {% endif %} </td>
	        <td>  {% if l.recibido == True %}
	            <input id="check{{l.id}}" type="checkbox" checked name="lista_recibidos" value="{{l.id}}" disabled> 
	          {% else %}
	            <input id="check{{l.id}}" type="checkbox" name="lista_recibidos" value="{{l.id}}" disabled>
	          {% endif %} </td>
	        <td>
	          <input type="checkbox" id="checkbox1" name="lista_modificados" value="{{l.id}}" onchange="check(this,'status{{l.id}}','precio{{l.id}}','check{{l.id}}')">
	        <td> <input type='submit' value='Modificar' /> 
		</tr>
	    {% empty %}
	      No hay pedidos registrados para este momento
	    {% endfor %}
	</table>
	</div>
	<input type='submit' value='Guardar Cambios' /> 	
	</div> 
	
	</form>  
</div>
<div class="footer row">
	<div class="contenido-footer container">
        Developed by <a href="http://www.turpialdevelopment.com" target="_blank">Turpial Development</a>
	</div>
</div>
    <script language="JavaScript" type="text/javascript">	
	function check(checkbox,status,precio,check) {
 	  var elStatus = document.getElementById(status);
 	  var elPrecio = document.getElementById(precio);
	  var elCheck = document.getElementById(check);
	  
	    elStatus.disabled = !checkbox.checked;
	    elPrecio.disabled = !checkbox.checked;
	    elCheck.disabled = !checkbox.checked;
          
        }
    </script>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function (){
                //Aqui asignamos el click al elemento <a>
                $("#boton1").click(function (){
                    $( "#contenedor" ).append("<div class=\"campo-form\"><div class=\"label-form\">Nombre Repuesto</div><div class=\"input-form\"><input  name=\"alist\" /></div></div><div class=\"campo-error\">{{pedido_form.serial.errors}}</div><div class=\"campo-form\"><div class=\"label-form\">Numero Repuesto</div><div class=\"input-form\"><input  name=\"alist\" /></div></div><div class=\"campo-error\">{{pedido_form.version.errors}}</div>");
                });
				$("#boton-s-1").click(function (){
					$('#myTab li:eq(1) a').tab('show');
				});
				$("#boton-a-2").click(function (){
					$('#myTab li:eq(0) a').tab('show');
				});
				$("#boton-s-2").click(function (){
					$('#myTab li:eq(2) a').tab('show');
				});
				$("#boton-a-3").click(function (){
					$('#myTab li:eq(1) a').tab('show');
				});
            });
    </script>
  </body>
</html>



