{% extends 'admin.html' %}
{% load bootstrap %}
{% block js %}
<script type="text/javascript">

    function cancelSubmarca(){

        window.location.assign("/ver_marca/{{marca}}/0/");

    }

</script>
{% endblock %}
{% block titulo %}
Editar {{ submarca.nombre }}
{% endblock %}
{% block seccion-contenido %}
<div>
    <div>
        <form method="post" enctype='multipart/form-data' action="">{% csrf_token %}
            <div class="col-sm-6">{{ formulario.nombre|bootstrap }}</div>
            <div class="col-sm-6">{{ formulario.marca|bootstrap }}</div>
            <button type="button" class="btn btn-default" onclick="cancelSubmarca()">Cancelar</button>  <input type="submit" class="btn btn-default btn-primary" value="Ingresar">
        </form>
    </div>
</div>
{% endblock %}