{% extends 'admin.html' %}
{% block titulo %}
{{ marca.nombre }}
{% endblock %}

{% block seccion-contenido %}
{% if creado == '1' %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
        ¡Marca creada satisfactoriamente!
    </div>

{% endif %}

<div>
    <div>
        <div class="table-responsive">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="search" class="form-control" id="search-content"></input>
            </div>
            <table class="table table-striped table-bordered table-hover" id="content">
                <thead>
                    <th>Submarca</th>
                    <th>Acciones</th>
                </thead>
            {% for submarca in submarcas %}
                <tr>
                    <td>{{ submarca.nombre }}</td>
                    <td><a href="/editar_submarca/{{ submarca.id }}" class="btn-xs btn-default">Editar</a> <a href="/eliminar_submarca/{{ submarca.id }}" class="btn-xs btn-default btn-danger">Eliminar</a> </td>
                </tr>


                {% empty %}
                    No existen submarcas asociadas a {{ marca.nombre }}
            {% endfor %}
            </table>
        </div>
        <div><a href="/nueva_submarca/{{ marca.id }}" class="btn btn-default col-sm-12">Crear Submarca</a></div>

        <div><a href="/editar_marca/{{ marca.id }}" class="btn btn-default col-sm-12">Editar</a></div>
    </div>
</div>
{% endblock %}