{% extends "tabla.html" %}
{% block js %}
<script type="text/javascript">
        	function deleteAlert(id)
        	{
        		var r=confirm("¿Esta seguro que desea eliminar?");
        		if (r==true)
        	  {
        			var string1 = "/eliminar_contacto_macrocliente/";
        		  window.location.assign(string1 + id)
          	}
        		else
          	{

          	}
        		document.getElementById("demo").innerHTML=x;
        }
    </script>
{% endblock %}
{% block titulo %}
Personas contacto de {{ macrocliente.nombre }}
{% endblock %}
{% block seccion-contenido %}
{% if creado == '1' %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
        ¡Contacto creado satisfactoriamente!
    </div>

{% elif creado == '2' %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
        ¡Contacto editado satifactoriamente!
    </div>

{% elif creado == '3' %}
   <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
         ¡Contacto eliminado satifactoriamente!
    </div>
{% endif %}

    <div>
                        <!-- /.panel-heading -->
                        <div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="content">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Cedula</th>
                                            <th>Telefono</th>
                                            <th>Email</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for contacto in contactos %}
                                        {% if forloop.counter|divisibleby:2 %}
                                            <tr class="gradeC">
                                                <td><a href="/ver_contacto/{{ contacto.id }}">{{ contacto.nombre }}</a></td>
                                                <td>{{ contacto.cedula }}</td>
                                                <td>{{ contacto.telefono }}</td>
                                                <td>{{ contacto.email }}</td>
                                                <td><a class="btn btn-default" href="/editar_contacto_macrocliente/{{ contacto.id }}">Editar</a>  <button type="button" class="btn btn-default btn-danger" onclick="deleteAlert({{contacto.id}})">Eliminar</button></td>
                                            </tr>
                                        {% else %}
                                            <tr class="gradeU">
                                                <td><a href="/ver_contacto/{{ contacto.id }}">{{ contacto.nombre }}</a></td>
                                                <td>{{ contacto.cedula }}</td>
                                                <td>{{ contacto.telefono }}</td>
                                                <td>{{ contacto.email }}</td>
                                                <td><a class="btn btn-default" href="/editar_contacto_macrocliente/{{ contacto.id }}">Editar</a>  <button type="button" class="btn btn-default btn-danger" onclick="deleteAlert({{contacto.id}})">Eliminar</button></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->






                        </div>
                        <div class="panel-body">
                            <a href="/nuevo_contacto_macrocliente/{{ macrocliente.id }}" class="btn btn-default col-sm-12">Agregar Contacto</a>
                        </div>


                        <!-- /.panel-body -->
                    </div>


{% endblock %}