{% extends 'tabla.html' %}
{% load bootstrap %}
{% block seccion-contenido %}
    <table id="content" class="table table-striped table-bordered table-hover">
        <thead>
            <th>
                Nombre y Apellido
            </th>
            <th>
                Cedula o rif
            </th>
            <th>
                Email
            </th>
            <th>
                Telefono
            </th>
            <th>
                Acciones
            </th>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>
                        <a href="/ver_cliente/{{cliente.id}}/">{{ cliente.nombres }} {{ cliente.apellidos }}</a>
                    </td>
                    <td>
                        {{ cliente.cedula }} {{ cliente.rif }}
                    </td>
                    <td>
                        {{ cliente.email }}
                    </td>
                    <td>
                        {{ cliente.telefono }}
                    </td>
                    <td>
                        <a class="btn btn-default" href="/editar_cliente/{{ cliente.id }}">Editar</a> <button type="button" class="btn btn-default btn-danger" onclick="deleteAlert({{cliente.id}})">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block js %}
<script type="text/javascript">
	function deleteAlert(id){
		var r=confirm("¿Esta seguro que desea eliminar?");
		if (r==true)
	{
			var string1 = "/eliminar_cliente/";
		  window.location.assign(string1 + id)
  	}
		else
    {

  	}
		document.getElementById("demo").innerHTML=x;
    }
</script>
{% endblock %}