{% extends "venta.html" %}
{% block css %}
<link href="{{ STATIC_URL }}/css/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
<style type="text/css">

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    padding-left: 5px;
}

.principal-fotos{

    max-height:600px;
    overflow-y: auto;

}

</style>
{% endblock %}
{% block seccion-contenido %}
<div class="col-md-9">
    <div class="panel panel-default principal-fotos">
        <div class="panel-body" id="panel-body">
            {% for imagen in imagenes %}
               <!-- <div class="col-md-3 text-center">
                    <a data-toggle="modal" data-target="#Foto" onclick="abrirFoto('{{ imagen }}')" >
                        <img src="{{MEDIA_URL}}{{ short_current }}/{{ imagen }}"
                             class="imagen img-responsive img-thumbnail" name="{{ imagen }}" style="max-height: 120px"
                        >
                    </a>
                    <div class="hidden">
                        <select id="producto{{ imagen }}">
                        {% for producto in productos %}
                            <option value="{{ producto.id }}">{{ producto.producto.nombre }}</option>
                        {% endfor %}
                        </select>
                        <input type="text" id="cantidad{{ imagen }}">
                        <input type="text" id="comentario{{ imagen }}">
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}<div class="col-md-12" style="margin-top: 5px"></div>{% endif %}-->
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <input id="buscarPedido" type="text" placeholder="Numero de pedido" class="form-control"/>
                <div style="margin-top: 5px" class="pull-right">
                    <a onclick="irapedido()" class="btn btn-default">Ir a pedido</a>
                </div>
            </div>
        </div>
    </div>
</div>
<aside id="lista_compra">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Pedido <b>{{num_pedido}}</b><span class="pull-right"><i class="fa fa-shopping-cart"></i></span>
            </div>
            <div class="panel-body">
                <div class="col-md-12 row">
                    <table class="table table-striped table-responsive">
                        <tbody id="agregados">
                        {% for agregado in productos_pedidos %}
                            <tr id="pep-{{ agregado.0.id }}">
                                <td><a data-toggle="modal" data-target="#editar" onclick="abrirFotoProducto('{{ agregado.1 }}','{{ agregado.0.cantidad }}','{{ agregado.0.producto.id }}','{{ agregado.0.comentario }}', '{{ agregado.0.id }}')">
                                    <img src="{{MEDIA_URL}}{{ agregado.1 }}" style="max-height: 30px; max-width: 40px"></a>
                                </td>
                                <td>{{ agregado.0.cantidad }} {{ agregado.0.producto.producto.nombre }}</td>
                                <td><a class="btn btn-danger btn-xs" onclick="deleteAlert('{{ agregado.0.id }}')">Eliminar</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="/asignar_combos/{{evento.id}}/{{ id_funcion }}/{{ dir_actual.pedido.id }}">Generar Ticket</a>
                </div>
            </div>
        </div>
    </div>
</aside>
<div class="modal fade" id="Foto" tabindex="-1" role="dialog" aria-labelledbby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-img modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <div class="row">
                    <div style="display: none" class='alert alert-success'>Producto agregado exitosamente!</div>
                    <div class="titulo-foto col-md-10"></div><div class="col-md-2"><span id="index" class="pull-right"></span></div>
                </div>
            </div>
            <div class="modal-body text-center" id="modal-body">
            </div>
            <div class="modal-footer" id="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control" id="modal-producto">
                            <option value="0">-----------</option>
                        {% for producto in productos %}
                            <option value="{{ producto.id }}">{{ producto.producto.nombre }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-1 text-center">X</div>
                    <div class="col-md-5"><input onkeypress="return numero(event)" id="modal-spinner" class="form-control" type="text" value="0"></div>
                    <div class="col-md-12" style="margin-top: 5px"><input id="modal-comentarios" class="form-control" type="text" placeholder="Comentarios"></div>
                    <div class="col-md-12"><a id="agregarFotoModal" onclick="agregarModal()" class="btn btn-primary btn-block" style="margin-top: 5px">Agregar</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledbby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-img modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="modal-header-editar">
                <div style="display: none" class='alert alert-success'>Producto actualizado exitosamente!</div>
                <div class="titulo-foto-edicion"></div>
            </div>
            <div class="modal-body text-center" id="modal-body-editar">
            </div>
            <div class="modal-footer" id="modal-footer-editar">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control" id="modal-producto-editar">
                            <option value="0">-----------</option>
                        {% for producto in productos %}
                            <option value="{{ producto.id }}">{{ producto.producto.nombre }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-1 text-center">X</div>
                    <div class="col-md-5"><input onkeypress="return numero(event)" id="modal-spinner-editar" class="form-control" type="text" value="0"></div>
                    <div class="col-md-12" style="margin-top: 5px"><input id="modal-comentarios-editar" class="form-control" type="text" placeholder="Comentarios"></div>
                    <div class="col-md-12"><a id="editarFotoModal" onclick="editarModal()" class="btn btn-primary btn-block" style="margin-top: 5px">Actualizar</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <textarea id="urls"></textarea>
    <input type="hidden" value="{{MEDIA_URL}}{{ short_current }}/" id="estaticos"/>
</div>


{% endblock %}
{% block js %}
<script type="text/javascript">

    //document.getElementById("b"+main).parentNode.removeChild(document.getElementById("b"+main));

    $("#urls").val("");

{% for imagen in imagenes %}

    if('{{ imagen }}'.indexOf('.thumbnail.') > -1){

        $("#urls").val($("#urls").val()+' || {{ imagen }}');

    }

{% endfor %}

window.onload = function(){

    var fotos, longitud;

    fotos = $("#urls").val().split(' || ');

    if(fotos.length > 17){

        longitud = 17;

    }else{

        longitud = fotos.length;

    }

    for( var i = 1; i < longitud; i++){

        $("#panel-body").append(
            '<div class="col-md-3 text-center" style="margin-top: 5px" id="div-'+ fotos[i] +'" >' +
                '<a data-toggle="modal" data-target="#Foto" onclick="abrirFoto(\''+ $("#estaticos").val() + fotos[i] +'\', \''+ fotos[i] +'\')" >' +
                    '<img src="'+ $("#estaticos").val() + fotos[i] +'" class="imagen img-responsive img-thumbnail" name="'+ fotos[i] +'" style="max-height: 120px">' +
                '</a>' +
                '<div class="hidden">' +
                    '<select id="producto'+ fotos[i] +'">'+
                        '<option value="0">-----------</option>'+
                        '{% for producto in productos %}'+
                            '<option value="{{ producto.id }}">{{ producto.producto.nombre }}</option>'+
                        '{% endfor %}'+
                    '</select>'+
                    '<input type="text" id="cantidad'+ fotos[i] +'">' +
                    '<input type="text" id="comentario'+ fotos[i] +'">' +
                '</div>' +
            '</div>'
        );

        if(i == 4 || i==8 || i==12){

            $("#panel-body").append('<div class="col-md-12"><hr /></div>');

        }

    }

    $("#modal-spinner").spinner({min:0});
    $("#modal-spinner-editar").spinner({min:0});



}


$("#Foto").on('hide.bs.modal', function(event){
        $("#modal-spinner").val(0);
        $("#modal-comentarios").val('');
    });


function irapedido(){

    var pedido = $("#buscarPedido").val();
    var funcion = "{{ id_funcion }}";
    var evento = "{{ evento.id }}";


    location.href = '/buscar_pedido_en_modulo_movil/'+ evento +'/'+ funcion +'/'+ pedido +'/';

}

function abrirFoto(imagen, imagen2){

    var interno = '<div class="row">' +
                    '<div class="col-md-1">' +
                        '<a onclick="anterior()" class="btn btn-default">' +
                            '<i class="fa fa-chevron-left"></i>' +
                        '</a>' +
                    '</div>' +
                    '<div class="col-md-10" >' +
                        '<img id="img" name="' + imagen + '" src="' + imagen + '" class=\'img-responsive img-thumbnail center-block\' style=\'max-height: 400px;\'></img>' +
                    '</div>' +
                    '<div class="col-md-1">' +
                        '<a class="btn btn-default" onclick="siguiente()">' +
                            '<i class="fa fa-chevron-right"></i>' +
                        '</a>' +
                    '</div>' +
                '</div>';

    document.getElementById('modal-body').innerHTML = interno;
    $("#agregarFotoModal").attr("onclick","agregarModal('"+imagen2+"')");


    $(".titulo-foto").each(function(){
        var n = imagen.split("/");
        var fotos = $("#urls").val().split(' || ');
        n = n[n.length-1];
        $(this).html('<b>'+n+'</b>');
        for(var k = 1; k< fotos.length; k++){

            if(n == fotos[k]){

                $("#index").html('('+k+')');

            }

        }
    });

}

function abrirFotoProducto(nomb, cant, iden, comment, pep){

    $("#modal-spinner-editar").val(cant);
    $("#modal-comentarios-editar").val(comment);
    $("#modal-producto-editar").val(iden);
    $("#editarFotoModal").attr('onclick', 'editarModal(\''+pep+'\')');

    var interno = '<div class="row">' +
                    '<div class="col-md-12" >' +
                        '<img id="img" name="' + nomb + '" src="{{MEDIA_URL}}' + nomb + '" class=\'img-responsive img-thumbnail center-block\' style=\'max-height: 400px;\'></img>' +
                    '</div>' +
                '</div>';

    document.getElementById('modal-body-editar').innerHTML = interno;

    $(".titulo-foto-edicion").each(function(){
        var n = nomb.split("/");
        n = n[n.length-1];
        $(this).html('<b>'+n+'</b>');
    });

}

function ajax_guardar(imagen, id_pedido){
    //alert('{{ short_current }}');
    var cantaux = '#cantidad' + imagen;
    var cantidad = document.getElementById('cantidad'+imagen).value;
    var comentario = document.getElementById('comentario'+imagen).value;
    var producto = document.getElementById('producto'+imagen);
    var producto_valor = producto.options[producto.selectedIndex].innerHTML;
    var img = imagen.split('thumbnail.');
    img = img[0]+img[1];
    $.ajax({
        data:{'cantidad': cantidad, 'producto': producto.value, 'imagen': img, 'id_pedido': id_pedido, 'comentario': comentario},
        url:'/agregar_item/',
        type: 'get',
        error:function(a,b,c){

            $('#alertas-ajax').addClass('alert');
            $('#alertas-ajax').addClass('alert-danger');
            document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
            console.log(c);
        }

    }).done(function(data){
        for(var i=0; i<data.length; i++){
            $('#agregados').append('<tr id="pep-'+ data[i].pk +'">' +
                    '<td>' +
                        '<a data-toggle="modal" data-target="#editar" onclick="abrirFotoProducto(\'{{ short_current }}/'+imagen+'\',\''+data[i].fields.cantidad+'\',\''+producto.value+'\',\''+data[i].fields.comentario+'\',\''+ data[i].pk +'\')">' +
                            '<img src="{{MEDIA_URL}}{{ short_current }}/'+imagen+'"style="max-height: 30px; max-width: 40px">' +
                        '</a>' +
                    '</td><td>' + data[i].fields.cantidad + ' ' + producto_valor + '</td><td><a class=\"btn btn-danger btn-xs\" onclick=deleteAlert(\''+ data[i].pk +'\')>eliminar</a></td></tr>');
            //$('#agregados').append("ion('"+ data[i].fields.nombre +"')>"+ data[i].fields.direccion +"</td><td><button type=\"button\" class=\"btn btn-default btn-danger btn-xs\" onclick=\"deleteAlert(" + data[i].pk + ")\">Eliminaaaaaaaaaaaaaar</button></td></tr>");
        }

        /*if(document.getElementById("toto") != null){
            document.getElementById(document.getElementById("toto").value).value = data[0].fields.nombre;
            document.getElementById("close").click();
        }*/
    });
}

function editarModal(id_ProEvenPed){

    var cantidad = $("#modal-spinner-editar").val();
    var comentario = $("#modal-comentarios-editar").val();
    var producto = $("#modal-producto-editar").val();


    if($("#modal-producto-editar").val()=='0'){

        alert("Debe seleccionar algún producto");

    }else if($("#modal-spinner-editar").val()==0){

        alert("La cantidad del producto no puede ser 0");

    }else{

        var src = $("#img").attr('src');

        $.ajax({
            data:{'id_ProEvenPed': id_ProEvenPed, 'cantidad': cantidad, 'producto': producto, 'comentario': comentario},
            url:'/actualizar_item/',
            type: 'get',
            error:function(a,b,c){

                $('#alertas-ajax').addClass('alert');
                $('#alertas-ajax').addClass('alert-danger');
                document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
                console.log(c);
            }

        }).done(function(data){

                var img = data.imagen;
                img = img.split('.');
                img = img[0]+'.thumbnail.'+img[1];

                $("#pep-"+id_ProEvenPed).html('<td>' +
                            '<a data-toggle="modal" data-target="#editar" onclick="abrirFotoProducto(\'{{ short_current }}/'+ img +'\',\''+ data.cantidad +'\',\''+ data.producto +'\',\''+ data.comentario +'\',\''+ data.id +'\')">' +
                                '<img src="'+ src +'" style="max-height: 30px; max-width: 40px">' +
                            '</a>' +
                        '</td><td>' + data.cantidad + ' ' + data.producto_nombre + '</td><td><a class=\"btn btn-danger btn-xs\" onclick=deleteAlert(\''+ data.id +'\')>Eliminar</a></td>');

                $(".alert").fadeIn();

                setTimeout(function(){

                    $(".alert").fadeOut();

                },1500);

        });

    }

}

function deleteAlert(id){

    var r=confirm("¿Esta seguro que desea eliminar?");
    if (r==true){

        var string1 = "/eliminar_productoeventopedido/";
        window.location.assign(string1 + id + "/" + "{{ id_funcion }}")

    }
    document.getElementById("demo").innerHTML=x;
}

function siguiente(){

    var actual = $("#img").attr("name");
    actual = actual.split('/');
    actual = actual[actual.length-1];

    var fotos = $("#urls").val().split(' || ');

    for(var i=1;i<fotos.length;i++){

        if(fotos[i]==actual){

            if(i+1 == fotos.length){

                $(".titulo-foto").each(function(){
                    $(this).html('<b>'+fotos[1]+'</b>');
                });

                $("#modal-comentarios").val("");
                $("#modal-spinner").val(0);

                $("#img").attr("src",$("#estaticos").val()+fotos[1]);
                $("#img").attr("name", fotos[1]);
                $("#agregarFotoModal").attr("onclick","agregarModal('"+fotos[1]+"')");

            }else{

                $(".titulo-foto").each(function(){
                    $(this).html('<b>'+fotos[(i+1)]+'</b>');
                });

                $("#modal-comentarios").val("");
                $("#modal-spinner").val(0);

                $("#img").attr("src",$("#estaticos").val()+fotos[(i+1)]);
                $("#img").attr("name", fotos[(i+1)]);
                $("#agregarFotoModal").attr("onclick","agregarModal('"+fotos[(i+1)]+"')");

            }


            var fotos = $("#urls").val().split(' || ');

            if(i==fotos.length-1){

                $("#index").html('('+1+')');

            }else{

                $("#index").html('('+(i+1)+')');

            }

        }

    }

    moverFondo();

}

function anterior(){

    var actual = $("#img").attr("name");
    actual = actual.split('/');
    actual = actual[actual.length-1];
    var sourc, nam;

    var fotos = $("#urls").val().split(' || ');

    for(var k = 1; k<fotos.length; k++){

        if(actual == fotos[k]){

            var j=(k-1)

            if(j<1){

                $(".titulo-foto").each(function(){
                    $(this).html('<b>'+fotos[(fotos.length+j-1)]+'</b>');
                });

                $("#modal-comentarios").val("");
                $("#modal-spinner").val(0);

                $("#img").attr("src",$("#estaticos").val()+fotos[(fotos.length+j-1)]);
                $("#img").attr("name",fotos[(fotos.length+j-1)]);
                $("#agregarFotoModal").attr("onclick","agregarModal('"+fotos[(fotos.length+j-1)]+"')");

            }else{

                $(".titulo-foto").each(function(){
                    $(this).html('<b>'+fotos[k-1]+'</b>');
                });

                $("#modal-comentarios").val("");
                $("#modal-spinner").val(0);

                $("#img").attr("src",$("#estaticos").val()+fotos[k-1]);
                $("#img").attr("name",fotos[k-1]);
                $("#agregarFotoModal").attr("onclick","agregarModal('"+fotos[k-1]+"')");
            }

            var fotos = $("#urls").val().split(' || ');

            if(k-1==0){

                $("#index").html('('+(fotos.length-1)+')');

            }else{

                $("#index").html('('+(k-1)+')');

            }

        }

        sourc=$(this).attr("src");
        nam=$(this).attr("name");
    }

    moverFondo();

}

function numero(e) {

    var codigo;

    codigo = (document.all) ? e.keyCode : e.which;

    if (codigo > 31 && (codigo < 48 || codigo > 57) && codigo != 46 ) {

        return false;

    }

    return true;
}

function moverFondo(){

    var img = $("#img").attr('name');
    var fotos = $("#urls").val().split(' || ');

    if(fotos.length > 16){

        $("#panel-body").html('');

        for( var i = 1; i < fotos.length; i++){

        if(img == fotos[i]){

            var r = 1;

            for(var k = i-8; k < i+8 ; k++){

                if(k < 1){

                    var auxlength, auxK;
                    auxlength = fotos.length;
                    auxK = k;

                    $("#panel-body").append(

                        '<div class="col-md-3 text-center" style="margin-top: 5px" id="div-'+ fotos[auxlength + auxK - 1] +'">' +
                            '<a data-toggle="modal" data-target="#Foto" onclick="abrirFoto(\''+ $("#estaticos").val() + fotos[auxK+auxlength-1] +'\',\''+ fotos[auxK+auxlength-1] +'\')" >' +
                                '<img src="'+ $("#estaticos").val() + fotos[auxK+auxlength-1] +'" class="imagen img-responsive img-thumbnail" name="'+ fotos[auxK+auxlength-1] +'" style="max-height: 120px">' +
                            '</a>' +
                            '<div class="hidden">' +
                                '<select id="producto'+ fotos[auxK+auxlength-1] +'">'+
                                    '<option value="0">-----------</option>'+
                                    '{% for producto in productos %}'+
                                        '<option value="{{ producto.id }}">{{ producto.producto.nombre }}</option>'+
                                    '{% endfor %}'+
                                '</select>'+
                                '<input type="text" id="cantidad'+ fotos[auxK+auxlength-1] +'">' +
                                '<input type="text" id="comentario'+ fotos[auxK+auxlength-1] +'">' +
                            '</div>' +
                        '</div>'
                    );

                }else if(k >= fotos.length){

                    $("#panel-body").append(
                        '<div class="col-md-3 text-center" style="margin-top: 5px" id="div-'+ fotos[k - fotos.length + 1] +'">' +
                            '<a data-toggle="modal" data-target="#Foto" onclick="abrirFoto(\''+ $("#estaticos").val() + fotos[k - fotos.length + 1] +'\',\''+ fotos[k - fotos.length + 1] +'\')" >' +
                                '<img src="'+ $("#estaticos").val() + fotos[k - fotos.length + 1] +'" class="imagen img-responsive img-thumbnail" name="'+ fotos[k - fotos.length + 1] +'" style="max-height: 120px">' +
                            '</a>' +
                            '<div class="hidden">' +
                                '<select id="producto'+ fotos[k - fotos.length + 1] +'">'+
                                    '<option value="0">-----------</option>'+
                                    '{% for producto in productos %}'+
                                        '<option value="{{ producto.id }}">{{ producto.producto.nombre }}</option>'+
                                    '{% endfor %}'+
                                '</select>'+
                                '<input type="text" id="cantidad'+ fotos[k - fotos.length + 1] +'">' +
                                '<input type="text" id="comentario'+ fotos[k - fotos.length + 1] +'">' +
                            '</div>' +
                        '</div>'
                    );

                }else{

                    $("#panel-body").append(
                        '<div class="col-md-3 text-center" style="margin-top: 5px" id="div-'+ fotos[k] +'">' +
                            '<a data-toggle="modal" data-target="#Foto" onclick="abrirFoto(\''+ $("#estaticos").val() + fotos[k] +'\',\''+ fotos[k] +'\')" >' +
                                '<img src="'+ $("#estaticos").val() + fotos[k] +'" class="imagen img-responsive img-thumbnail" name="'+ fotos[k] +'" style="max-height: 120px">' +
                            '</a>' +
                            '<div class="hidden">' +
                                '<select id="producto'+ fotos[k] +'">'+
                                    '<option value="0">-----------</option>'+
                                    '{% for producto in productos %}'+
                                        '<option value="{{ producto.id }}">{{ producto.producto.nombre }}</option>'+
                                    '{% endfor %}'+
                                '</select>'+
                                '<input type="text" id="cantidad'+ fotos[k] +'">' +
                                '<input type="text" id="comentario'+ fotos[k] +'">' +
                            '</div>' +
                        '</div>'
                    );

                }

                if(r == 4 || r==8 || r==12){

                    $("#panel-body").append('<div class="col-md-12"><hr /></div>');

                }

                r++;

            }

        }
    }

    }
}

function agregarModal(iden){

    if($("#modal-producto").val()=='0'){

        alert("Debe seleccionar algún producto");

    }else if($("#modal-spinner").val()==0){

        alert("La cantidad del producto no puede ser 0");

    }else{
        document.getElementById('cantidad'+iden).value = $("#modal-spinner").val();
        document.getElementById('comentario'+iden).value = $("#modal-comentarios").val();
        document.getElementById('producto'+iden).value = $("#modal-producto").val();

        ajax_guardar(iden, "{{ dir_actual.pedido.id }}");

        $("#modal-producto").val('0');
        $("#modal-spinner").val(0);
        $("#modal-comentarios").val("");

        $(".alert").fadeIn();

        setTimeout(function(){

            $(".alert").fadeOut();

        },1500);
    }

}
</script>
{% endblock %}
