{% extends "venta.html" %}
{% block seccion-contenido %}
<div>
<ul>
<div class="col-xs-12 table-responsive">
   <table class="table table-bordered">
        <thead>
        <th>Imagen</th>
        <th>Cantidad</th>
        <th>Comentario</th>
        <th>Agregar</th>
        </thead>

    {% for imagen in imagenes %}
    <tr>
        <td>
            <a data-toggle="modal" data-target="#Foto" onclick=abrirFoto("{{MEDIA_URL}}{{ short_current }}/{{ imagen }}","{{ imagen }}") ><img src="{{MEDIA_URL}}{{ short_current }}/{{ imagen }}" width="50"></a>
        </td>
        <td>
            <input type="text" id="cantidad{{ imagen }}">
        </td>
        <td>
            <input type="text" id="comentario{{ imagen }}">
        </td>
        <td>
            <button onclick="ajax_guardar('{{ imagen }}', '{{ dir_actual.pedido.id }}')">Agregar</button>
        </td>
    </tr>
    {% endfor %}
    </table>
</div>

<li><a data-toggle="modal" data-target="#Foto" onclick=abrirFoto("{{MEDIA_URL}}{{ short_current }}/{{ imagen }}","{{ imagen }}") ><img src="{{MEDIA_URL}}{{ short_current }}/{{ imagen }}" width="50"></a>
    {# <img id="post-image" class="img-responsive" src="{{ MEDIA_URL }}{{ short_current }}/{{ imagen }}" alt="Post Image"  > #}
    cantidad<input type="text" id="cantidad{{ imagen }}">
    comentario<input type="text" id="comentario{{ imagen }}">
    <select id="producto{{ imagen }}">
        {% for producto in productos %}
            <option value="{{ producto.id }}">{{ producto.producto.nombre }}</option>
        {% endfor %}
    </select>
    <button onclick="ajax_guardar('{{ imagen }}', '{{ dir_actual.pedido.id }}')">Agregar</button>
</li>
</ul>
<a class="btn btn-primary" href="/generar_ticket/{{evento.id}}">Generar Ticket</a>
</div>
<aside id="lista_compra">
<ul id="agregados">
{% for agregado in productos_pedidos %}
    <li>{{ agregado.0.cantidad }} {{ agregado.0.producto.producto.nombre }} {{ agregado.1 }}<a class="btn-danger btn-xs" onclick="deleteAlert('{{ agregado.0.id }}')">eliminar</a></li>

{% endfor %}
</ul>
</aside>
<div class="modal fade" id="Foto" tabindex="-1" role="dialog" aria-labelledbby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-img">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h2 id="titulo-imagen"></h2>
                <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center" id="modal-body">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
function abrirFoto(url, imagen){
    $('#modal-header').html('<h2>'+ imagen +'</h2>')
    $('#modal-body').html('<img src='+url+' class=\"img-responsive\"></img>');

}

function ajax_guardar(imagen, id_pedido){
    var cantaux = '#cantidad' + imagen;
    var cantidad = document.getElementById('cantidad'+imagen).value;
    var comentario = document.getElementById('comentario'+imagen).value;
    var producto = document.getElementById('producto'+imagen);
    var producto_valor = producto.options[producto.selectedIndex].innerHTML;
    $.ajax({
        data:{'cantidad': cantidad, 'producto': producto.value, 'imagen': imagen, 'id_pedido': id_pedido, 'comentario': comentario},
        url:'/agregar_item/',
        type: 'get',
        error:function(a,b,c){

            $('#alertas-ajax').addClass('alert');
            $('#alertas-ajax').addClass('alert-danger');
            document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
            console.log(c);
        }

    }).done(function(data){
        for(var i=0; i<data.length; i++){
            $('#agregados').append("<li>" + data[i].fields.cantidad + " " + producto_valor + " " + imagen + " <a class=\"btn-danger btn-xs\" onclick=\"deleteAlert(\'"+ data[i].pk +"\')\">eliminar</a></li>");
            //$('#agregados').append("ion('"+ data[i].fields.nombre +"')>"+ data[i].fields.direccion +"</td><td><button type=\"button\" class=\"btn btn-default btn-danger btn-xs\" onclick=\"deleteAlert(" + data[i].pk + ")\">Eliminaaaaaaaaaaaaaar</button></td></tr>");
        }

        /*if(document.getElementById("toto") != null){
            document.getElementById(document.getElementById("toto").value).value = data[0].fields.nombre;
            document.getElementById("close").click();
        }*/
    });
}
</script>
<script type="text/javascript">
        	function deleteAlert(id)
        	{
        		var r=confirm("¿Esta seguro que desea eliminar?");
        		if (r==true)
        	  {
        			var string1 = "/eliminar_productoeventopedido/";
        		  window.location.assign(string1 + id)
          	}
        		else
          	{

          	}
        		document.getElementById("demo").innerHTML=x;
        }
</script>
{% endblock %}