{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
Generar pedido
{% endblock %}
{% block seccion-contenido%}
<form id="generar_pedido" method="POST">{% csrf_token %}
    <div class="col-xs-12 col-md-6">
        {% if cliente == None %}
        <div class="col-xs-12 col-md-12">
            <div class="form-group">
                <label class="control-label" for="id_nombres_cliente">Nombres</label>
                <input type="text" id="id_nombres_cliente" name="nombres_cliente" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="form-group">
                <label class="control-label" for="id_apellidos_cliente">Apellidos</label>
                <input type="text" id="id_apellidos_cliente" name="apellidos_cliente" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="form-group ">
                <label class="control-label" for="id_cedula_cliente">Número de cedula del cliente</label>
                <input type="text" id="id_cedula_cliente" name="cedula_cliente" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="form-group ">
                <label class="control-label" for="id_rif_cliente">R.I.F. del cliente</label>
                <input type="text" id="id_rif_cliente" name="rif_cliente" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="form-group">
                <label class="control-label" for="id_telefono_cliente">Número telefono del cliente</label>
                <input type="text" id="id_telefono_cliente" name="telefono_cliente" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="form-group">
                <label class="control-label" for="id_mail_cliente">Email del cliente</label>
                <input type="text" id="id_mail_cliente" name="mail_cliente" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="form-group">
                <label class="control-label" for="id_direccion_fiscal_cliente">Direccion fiscal del cliente</label>
                <input type="text" id="id_direccion_fiscal_cliente" name="direccion_fiscal_cliente" class="form-control">
            </div>
        </div>
        {% else %}
        <div class="col-xs-12 col-md-12 table-responsive">
            <table class="table ">
                <thead><th colspan="2">{{ cliente.nombres }} {{ cliente.apellidos }} - {{ cliente.cedula }}</th></thead>
                <tr><td>Email: {{ cliente.email }}</td><td>Telefono: {{ cliente.telefono }}</td></tr>
                <tr><td>Direccion: {{ cliente.direccion_fiscal }}</td><td>Rif: {{ cliente.rif }}</td></tr>
            </table>
        </div>
        {% endif %}
        <div class="col-xs-12 col-md-12">
            {{ formulario.id_fiscal | bootstrap}}
        </div>
        <div class="col-xs-12 col-md-12">
            {{ formulario.tlf_fiscal | bootstrap}}
        </div>
        <div class="col-xs-12 col-md-12">
            {{ formulario.razon_social | bootstrap}}
        </div>
        <div class="col-xs-12 col-md-12">
            {{ formulario.direccion_fiscal | bootstrap}}
        </div>
        <div class="col-xs-12 col-md-12">
            {{ formulario.envio | bootstrap }}
        </div>
        <div id="dir_envio" class="col-xs-12 col-md-12">
            <label class="control-label  " for="id_direccion_entrega">Direccion entrega</label>
                <div class=" ">
                    <textarea class=" form-control" cols="40" id="id_direccion_entrega" name="direccion_entrega" rows="10">{{ pedido_actual.direccion_entrega }}</textarea>
                </div>
        </div>
        <div class="col-xs-12 text-right">
                <input type='button' onclick="generarPedido()" class="btn btn-default btn-primary" value='Generar'/>
            <div class="col-md-6 hidden-xs hidden-sm"></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 table-responsive">
        <table class="table " id="tabla-productos">
            <thead><th>Cant.</th><th>Produc.</th><th>Precio Und.</th><th>Eliminar</th></thead>
            {% for producto in productos %}
            <tr id="tr-{{ producto.id }}" class="producto">
                <td><input id="cant-{{ producto.id }}" class="form-control cant-prod" name="cant-{{ producto.id }}" type="number" value="{{ producto.cantidad }}"></td>
                <td><select id="prod-{{ producto.id }}" class="form-control prod" name="prod-{{ producto.id }}" onchange="actualizar_total()">
                    {% for producto in en_venta %}
                        {%  if not producto.es_combo %}
                            {% if producto.id == producto.producto.id %}
                                <option value="{{ producto.id }}-{{ producto.precio }}" selected>{{ producto.producto.nombre }}</option>
                            {% else %}
                                <option value="{{ producto.id }}-{{ producto.precio }}">{{ producto.producto.nombre }}</option>
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                </select></td>
                <td id="total-{{ producto.id }}">{{ producto.producto.precio }}</td>
                <td class="text-center" id="borrar-{{ producto.id }}"></td>
            </tr>
            {% endfor %}
        </table>
        <table class="table " id="tabla-combos">
            {% for combo in combos %}
                <tbody class="combo-{{ combo.id }}">
                    <tr id="tr-{{ combo.id }}">
                        <td><input id="cant-{{ combo.id }}" class="form-control cant-combo" name="cant-{{ combo.id }}" type="number" value="{{ combo.cantidad }}"></td>
                        <td>{{ combo.producto.producto.nombre }}</td>
                        <td id="total-{{ combo.id }}" class="precio-combo">{{ combo.producto.precio }}</td>
                        <td class="text-center" id="borrar-{{ combo.id }}"></td>
                    </tr>
                    {% for producto in combo.productos %}
                        <tr>
                            <td class="cant-prod-combo">{{ producto.cantidad }}</td>
                            <td class="prod-combo">{{ producto.producto.producto.nombre }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="col-xs-12 col-md-6">
        <table class="table">
            <thead><th>Sub Total</th><th>IVA</th><th>Total</th></thead>
            <tr>
                <td><input class="form-control" type="text" name="total_input" id="total_input" onkeypress="return numero_float(event)" value=""></td>
                <td id="iva">{{ iva.valor }}</td>
                <td id="total"></td>
            </tr>
        </table>
    </div>



    <div class="col-xs-12 col-md-6 table-responsive">
    {% if mensaje.error %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
        {{ mensaje.text }}
    </div>
    {% endif %}
    <div id="formsets">
        {{ pagosForms.management_form }}
        {% for form in pagosForms %}
            {{ form | bootstrap }}
        {% endfor %}

    </div>
    <div class="col-xs-12 col-md-6">
        <button type="button" id="agregar_pago" class="btn btn-default">Agregar otro pago</button>
    </div>

        <!--  <table id="tipos_pagos" class="table ">
            <thead><th>Tipo</th><th>Monto</th><th>Referencia</th><th>Eliminar</th></thead>
            <tr>
                <td name="tipo" >
                    <select class="form-control">
                    </select>
                </td>
                <td name="monto"><input size="1" style="font-size:24px;" class=" form-control" type="text"></td>
                <td name="referencia"><input class=" form-control" type="text"></td>
                <td><input class=" form-control" type="text"><</td>
            </tr>
        </table> -->
        <!--<span id="total"></span> -->
    </div>
</form>

<div class="modal fade" id="Foto" tabindex="-1" role="dialog" aria-labelledbby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-img">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center" id="modal-body">
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="{{STATIC_URL}}js/agregar_formsets.js"></script>
<script>
    function numero(e) {
          var codigo;
          codigo = (document.all) ? e.keyCode : e.which;
          if (codigo > 31 && (codigo < 48 || codigo > 57) ) {
          return false;
          }
          return true;
    }
</script>
<script>
    function numero_float(e) {
          var codigo;
          codigo = (document.all) ? e.keyCode : e.which;
          if (codigo > 31 && (codigo < 48 || codigo > 57) && codigo != 46) {
          return false;
          }
          return true;
    }
</script>
<script type="text/javascript">
var costo_productos = {};
var cantidad_productos = {};
var prod_combos = {};
var costo_combos = 0;
window.onload = function(){
    var subtotal, total = 0, url_aux;

    {% if cliente == None %}
        $('#id_cedula_cliente').val("{{ ced }}");
    {% endif %}

    {% for producto in productos %}

        url_aux = "{{ producto.ruta }}";
        url_aux = url_aux.split('/fotomov_imagenes/');
        url_aux = url_aux[1];

        $('#borrar-{{ producto.id }}').html('<a data-toggle="modal" data-target="#Foto" onclick=abrirFoto("{{MEDIA_URL}}'+url_aux+'") ><img src="{{MEDIA_URL}}'+url_aux+'" width="50"></a> <a class=\"btn btn-default btn-xs btn-danger\" onclick=borrarProducto("tr-{{ producto.id }}")>Eliminar</a>');

        subtotal = parseInt("{{ producto.cantidad }}")*parseInt("{{ producto.producto.precio }}");
        total += subtotal;

        // document.getElementById("total-{{ producto.id }}").innerHTML = subtotal;


    {% endfor %}


    {% for producto in combos %}

        url_aux = "{{ producto.ruta }}";
        url_aux = url_aux.split('/fotomov_imagenes/');
        url_aux = url_aux[1];

        $('#borrar-{{ producto.id }}').html('<a class=\"btn btn-default btn-xs btn-danger\" onclick=borrarProducto("tr-{{ producto.id }}")>Eliminar</a>');

        subtotal = parseInt("{{ producto.cantidad }}")*parseInt("{{ producto.producto.precio }}");
        total += subtotal;

        document.getElementById("total-{{ producto.id }}").innerHTML = subtotal;


    {% endfor %}

    document.getElementById("total_input").value = total;

    if (document.getElementById("id_envio").value == 0){
        $("#dir_envio").hide();
    }
    $('#id_form-TOTAL_FORMS').val(1);

}

$(document).ready(function(){
    var options = [
        {
          label: '---------',
          value: ''
        },
        {% for tipo_pago in tipos_pago %}
            {
                label: '{{tipo_pago}}',
                value: {{tipo_pago.id}},
                discount: '{{ tipo_pago.descuento }}'

            },
        {% endfor %}
   ]

    // Funciones para las acciones de los formsets
    $('#agregar_pago').on('click',function(event){
        event.preventDefault();
        agregarFormset(options);
    });

  $("#id_envio").change(function(){
      if (document.getElementById("id_envio").value == 0){
          $("#dir_envio").hide();
      }else{
          $("#dir_envio").show();
      }

  });

  $("#id_form-0-tipo_pago").change(function(){
        verificar()
  });

  $("#id_tipo_pago").change(function(){
      if (document.getElementById("id_tipo_pago").value == ""){
          $("#tipo_pago").hide();
      }else{
          $("#tipo_pago").show();
      }

  });
    $(".cant-prod").each(function(){
        $(this).data("previous-value", $(this).val());
    });
    $(".cant-combo").each(function(){
        $(this).data("previous-value", $(this).val());
    });
});


$(".cant-prod").change(function() {
    if ($(this).val() < 0) {
        $(this).val(0);
    } else {
        if ($(this).data("previous-value") > $(this).val()){
            var id = $(this).attr('id').split("-");
            id = id[1];
            var producto = $('#prod-'+id+' :selected');
            producto = producto.text();
            if (cantidad_productos[producto] <= prod_combos[producto]){
                alert('No puede reducir la cantidad de '+producto+' porque son parte de un combo.');
                $(this).val($(this).data("previous-value"));
            } else {
                $(this).data("previous-value", $(this).val());
                actualizar_total();
            }
        } else {
            $(this).data("previous-value", $(this).val());
            actualizar_total();
        }
    }
});

$(".cant-combo").change(function() {
    if ($(this).val() < 0) {
        $(this).val(0);
    } else {
        var cant_combo = parseInt($(this).val());
        var pass = true;
        actualizar_total();
        $.each(prod_combos, function(key, value){
            if (value > cantidad_productos[key]){
                alert('Tiene que agregar más ' + key + ' para poder aumentar el combo.')
                pass = false;
            }
        });
        if (pass == false){
            $(this).val($(this).data("previous-value"));
        } else {
            $(this).data("previous-value", $(this).val());
        }
        actualizar_total();
    }
});


function actualizar_total(){
    costo_productos = {};
    cantidad_productos = {};
    prod_combos = {};
    costo_combos = 0;
    $('.producto').each(function(){
        var id = $(this).attr('id').split("-");
        id = id[1];
        var producto = $('#prod-'+id+' :selected');
        var costo = producto.val().split('-');
        costo = costo[1];
        var nombre = producto.text();
        var cantidad = parseInt($('#cant-'+id).val());
        costo_productos[nombre] = parseFloat(costo);
        if (nombre in cantidad_productos){
            cantidad_productos[nombre] += cantidad;
        } else {
            cantidad_productos[nombre] = cantidad;
        }
    });
    $('.prod-combo').each(function(){
        if ($(this).html() in prod_combos){
            prod_combos[$(this).html()] += (parseInt($(this).prev().html()) * parseInt($(this).parents('tbody').find('.cant-combo').val()));
        } else {
            prod_combos[$(this).html()] = (parseInt($(this).prev().html()) * parseInt($(this).parents('tbody').find('.cant-combo').val()));
        }
    });

    var total = 0;
    $.each(costo_productos, function(key, value){
        if (key in prod_combos){
            total += (cantidad_productos[key] - prod_combos[key]) * value;
        } else {
            total += cantidad_productos[key] * value;
        }
    });

    $('.cant-combo').each(function(){
        costo_combos += parseInt($(this).val()) * parseInt($(this).parent().siblings('.precio-combo').html());
    });

    $('#total_input').val(total+costo_combos);
    var iva = $('#iva').html().split('%');
    iva = iva[0];
    $('#total').html(($('#total_input').val()*(parseFloat('1.'+iva))).toFixed(2));

}

function verificar(){
    var options = [
        {% for tipo_pago in tipos_pago %}
            {% if tipo_pago.descuento == False %}
                {{ tipo_pago.id }},
            {% endif %}
        {% endfor %}
    ]
    var flag = "True";
    var total = parseInt($('#id_form-TOTAL_FORMS').val(),10);
    var i = 0;

    while (i<total){
        var paid = document.getElementById('id_form-'+i+'-tipo_pago').value;
        $.each(options, function(index, option){
           if (option == paid){
               flag="False";
           }
        });
        i++;
    }
    if (flag == "False"){
        document.getElementById('total_input').readOnly = true;
    }else{
        document.getElementById('total_input').readOnly = false;
    }
    {% comment %}for (var i = 0, len = options.length, text = ""; i < len; i++) {
        text += cars[i] + "<br>";
    }{% endcomment %}
}

function borrarProducto(iden){

    var idPEV = iden.split('-');
    idPEV = idPEV[1];

    var cant  = $('#cant-'+idPEV);
    cant.val(0);
    var producto = $('#prod-'+idPEV+' :selected');
    producto = producto.text();
    actualizar_total();
    if (producto in cantidad_productos) {
        if (cantidad_productos[producto] < prod_combos[producto]){
            alert('No puede eliminar '+producto+' porque son parte de un combo.');
            cant.val(cant.data("previous-value"));
            return false;
        }
    }
    if(confirm("¿Esta seguro que desea borrar este producto del pedido?")){
        $.ajax({

            url:'/eliminar_productoeventopedido_en_generarpedido/',
            data:{'iden': idPEV},
            type:'GET'

        }).done(function(data){

            $("#"+iden).fadeOut();
            window.setTimeout(function(){document.getElementById(iden).parentNode.removeChild(document.getElementById(iden))},3000);

        });
    } else {
        cant.val(cant.data("previous-value"));
        actualizar_total();
    }
}

function abrirFoto(url){

    $('#modal-body').html('<img src='+url+'></img>');

}

function generarPedido(){

    document.getElementById('generar_pedido').submit();
}

function agregar_tipo_pago(){

}

</script>
{% endblock %}