{% extends 'modulo_movil.html' %}
{% load bootstrap %}
{% block titulo %}
Generar pedido
{% endblock %}
{% block seccion-contenido%}
<form method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-xs-8 col-md-4 col-md-offset-2">
            {{ formulario.ticket | bootstrap }}
        </div>
        <div class="col-xs-8 col-md-4">
            {{ formulario.cedula | bootstrap }}
        </div>
        <div class="col-xs-12 text-right">
            <div class="row">
                <div class="col-xs-10 col-md-6 col-md-offset-4">
                    <input type='submit' class="btn btn-default btn-primary" value='Generar'/>
                </div>
                <div class="col-md-6 hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js %}
<script type="text/javascript">

</script>
{% endblock %}