{% extends 'admin.html' %}
{% load bootstrap %}
{% block titulo %}
Nueva forma de pago
{% endblock %}
{% block seccion-contenido %}
<form method="POST" action="">{% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-12">
                {{ formulario.nombre | bootstrap }}
            </div>
            <div class="col-xs-6">
                {{ formulario.descuento | bootstrap }}
            </div>
            <div class="col-xs-6">
                {{ formulario.pagado | bootstrap }}
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-default btn-success pull-right" value="Ingresar">
            </div>

        </div>
        <div class="col-xs-12 col-md-6 table-responsive">
            <table class="table table-striped table-responsive">
                <thead><th colspan="2">Tipos de pagos</th></thead>
                {% for pago in pagos %}
                <tr id="te-{{ pago.id }}"><td>{{ pago.nombre }}{% if pago.pagado %}/Pago{% endif %}{% if pago.descuento %}/Descuento{% endif %}</td>
                    <td> <a class="btn btn-xs btn-danger" onclick="deleteAlert('{{ pago.id }}')">Eliminar</a>
                    <a href="/editar_forma_de_pago/{{ pago.id }}" class="btn btn-xs btn-success">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <div class="row">
            <div class="col-md-6 hidden-xs hidden-sm"></div>
        </div>
    </div>
</form>
{% endblock %}
{% block js %}
<script type="text/javascript">
        	function deleteAlert(id)
        	{
        		var r=confirm("Eliminar una forma de pago puede incurrir en perdida de pagos de clientes lo cual afectara la administracion y el control de pedido ¿Esta seguro que desea eliminar?");

        		if (r==true)
        	  {
                  var r=confirm("Me temo que debo insistir ¿Esta seguro que desea eliminar?");
                  if (r==true)
                  {
                    var string1 = "/eliminar_forma_de_pago/";
        		    window.location.assign(string1 + id)
                  }

          	}
        		else
          	{

          	}
        		document.getElementById("demo").innerHTML=x;
        }
    </script>
{% endblock %}