{% extends 'admin.html' %}
{% load bootstrap %}
{% block css %}
<link href="{{ STATIC_URL }}/css/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
{% endblock %}
{% block titulo %}
Realizar pago
{% endblock %}
{% block seccion-contenido %}
<form method="POST" action="">{% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-sm-12">{{ formulario.pago | bootstrap }}</div>
        <div class="col-xs-12 col-sm-6">{{ formulario.monto | bootstrap }}</div>
        <div class="col-xs-12 col-sm-6">{{ formulario.forma_de_pago | bootstrap }}</div>
        <div class="col-xs-12 col-sm-6">{{ formulario.fecha_de_pago | bootstrap }}</div>
        <div class="col-xs-12 col-sm-6">{{ formulario.banco | bootstrap }}</div>
        <div class="col-xs-12 col-sm-6">{{ formulario.nro_de_comprobante | bootstrap }}</div>
        <div hidden="true" id="alerta"class="col-sm-6 alert alert-danger">
        </div>
        <div class="col-xs-12 text-right">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <input type="submit" class="btn btn-default btn-primary" value="Realizar pago">
                </div>
                <div class="col-md-6 hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js %}
<script type="text/javascript">

$(function() {

    $( "#id_fecha_de_pago").datepicker();

    $( "#id_monto").val(3500);

        $( "#id_monto" ).spinner({
            min: 0,
            step: 50,
            numberFormat: "C",
            culture: "en-US"
        });

});

document.getElementById("id_monto").onkeypress = function date(event){

    var tecla = (document.all) ? event.keyCode : event.which;
    if (tecla==8) return true;
    else if (tecla==9) return true;
    else if (tecla==44) return true;
    else if (tecla==48) return true;
    else if (tecla==49) return true;
    else if (tecla==50) return true;
    else if (tecla==51) return true;
    else if (tecla==52) return true;
    else if (tecla==53) return true;
    else if (tecla==54) return true;
    else if (tecla==55) return true;
    else if (tecla==56) return true;
    else if (tecla==57) return true;
    else if (tecla==96) return true;
    else if (tecla==97) return true;
    else if (tecla==98) return true;
    else if (tecla==99) return true;
    else if (tecla==100) return true;
    else if (tecla==101) return true;
    else if (tecla==102) return true;
    else if (tecla==103) return true;
    else if (tecla==104) return true;
    else if (tecla==105) return true;
    else return false;

}

document.getElementById("id_fecha_de_pago").onkeypress = function date(event){

    var tecla = (document.all) ? event.keyCode : event.which;
    if (tecla==9) return true;
    else return false;

}

</script>
{% endblock %}