{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
       Gr&aacute;ficos
{% endblock %}
{% block seccion-contenido %}
	<div class="row">
		<form class="col-lg-6 col-md-4 col-sm-6" action="" method="POST" enctype="multipart/form-data" id="grafico-form">
			{% csrf_token %}
			{{graficoForm.magnitud | bootstrap}}
		
			{{graficoForm.categoria | bootstrap}}

			{{graficoForm.registro | bootstrap}}

			<input type="submit" name="submit-grafico" id="submit-grafico" value="Generar Grafico" class="btn btn-primary">
		</form>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12" id="grafico" style="height: 250px;"></div>
	</div>
{% endblock %}
{% block js %}

<!--Codigo del grafico -->
<script>
	Morris.Bar({
	element: 'grafico',
	data: [
		{ y: 'Enero', a: 100, b: 85, c:23, d:70, e:90 },
		{ y: 'Febrero', a: 75,  b: 60, c:32, d:20, e:15 },
		{ y: 'Marzo', a: 50,  b: 40, c:82, d:81 },
		{ y: 'Abril', a: 75,  b: 65, c:20, d:13 },
		{ y: 'Mayo', a: 50,  b: 40, c:32, d:70 },
		{ y: 'Junio', a: 75,  b: 65, c:10, e:29 },
		{ y: 'Julio', a: 100, b: 90, c:12 },
		{ y: 'Agosto', a: 75,  b: 65, c:32 },
		{ y: 'Septiembre', a: 50,  b: 40, c:56 },
		{ y: 'Octubre', a: 75,  b: 65, c:32 },
		{ y: 'Noviembre', a: 75,  b: 65, c:30, d:85 },
		{ y: 'Diciembre', a: 75,  b: 65, c:32 }
	],
	xkey: 'y',
	barColors:['#0066FF','#CC0000','#009900','#CC3300','#FFCC00'],
	ykeys: ['a', 'b', 'c', 'd', 'e'],
	labels: ['Cliente A', 'Cliente B', 'Cliente C', 'Cliente D', 'Cliente E'],
	gridTextSize: 10,
	});
</script>

<!--Codigo de campos bloqueados y divs bloqueados -->
<script type="text/javascript">

	$( '#grafico-form' ).submit(function(event) {
		return false;
	});

	/*Funcion que oculta el grafico inicialmente*/
	$( document ).ready(function(){
		document.getElementById( 'grafico' ).style.display = 'none';

		/*Funcion que desbloquea el campo de categoria cuando cliquean el campo de Magnitud*/
		$( '#id_magnitud' ).change(function(){
			if (document.getElementById( 'id_magnitud' ).value != ''){
				$( '#id_categoria' ).prop('disabled', false);
			}else{
				$( '#id_categoria' ).prop('disabled', true);
				$( '#id_registro' ).prop('disabled', true);
				document.getElementById( 'id_registro' ).value = '';
				document.getElementById( 'id_categoria' ).value = '';
				document.getElementById( 'grafico' ).style.display = 'none';
			}
		});

		/*Funcion que desbloquea el campo de registro cuando cliquean el campo Categoria*/
		$( '#id_categoria' ).change(function(){
			if (document.getElementById( 'id_categoria' ).value != ''){
				cat = $( this ).val();
				alert( cat );
				return false;

				$.ajax({
					url: '/path/to/file',
					type: 'GET',
					dataType: 'json',
					data: { categoria: cat },
				})
				.done(function() {
					console.log("success");
				})
				.fail(function() {
					console.log("error");
				})
				.always(function() {
					console.log("complete");
				});

			}else{
				$( '#id_registro' ).prop('disabled', true);
				document.getElementById( 'id_registro' ).value = '';
				document.getElementById( 'grafico' ).style.display = 'none';
			}
		});

		/*Funcion que oculta/muestra el grafico inicialmente*/
		// $( '#id_registro' ).change(function(){
		// 	if (document.getElementById( 'id_registro' ).value != ''){
		// 		document.getElementById( 'grafico' ).style.display = 'block';
		// 	}else{
		// 		document.getElementById( 'grafico' ).style.display = 'none';
		// 	}
		// });
	});
</script>
{% endblock js %}