{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
       Estad&iacute;sticas de Marcas
{% endblock %}
{% block seccion-contenido %}
<div class="row">
	<div class="col-lg-8 col-md-4 col-sm-6">

	</div>
	<form class="col-lg-2 col-md-4 col-sm-6" action="" method="POST" enctype="multipart/form-data" id="anios">
		{% csrf_token %}
		{{AnosForm.ano | bootstrap}}
	</form>
	<form class="col-lg-2 col-md-4 col-sm-6" action="" method="POST" enctype="multipart/form-data" id="meses">
		{% csrf_token %}
		{{MesesForm.mes | bootstrap}}
	</form>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Marcas</h4>
    </div>
    <div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Marca</th>
					<th>Submarcas</th>
					<th>Macroclientes</th>
					<th>Eventos</th>
					<th>Ingresos</th>
					<th>Egresos</th>
					<th>Ganancia</th>
				</tr>
			</thead>
			<tbody>
				{%for marca in marcas%}
					<tr>
						<td>
							<a href="/estadisticas_submarcas/{{marca.0}}/">
								{{marca.1}}
							</a>
						</td>
						<td>
							{{marca.2}}
						</td>
						<td>
							{{marca.3}}
						</td>
						<td>
							{{marca.4}}
						</td>
						<td>
							{{marca.5}}
						</td>
						<td>
							{{marca.6}}
						</td>
						<td>
							{{marca.7}}
						</td>
					</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$( document ).ready(function(){
		$( '#id_mes' ).change(function(){
			$( '#meses' ).submit();
		});
	});
</script>
{% endblock js %}